mixin mediaButtonMulti(id,images)
    - var element_name = 'mediaDetail-' + id
    - var input_name =  id
    - var element_selector_id = '#' + element_name
    - var element_selector_class = '.' + element_name
    .media-btn.media-btn-multi(class=element_name)
        .gallery-list
            each image in images
                .media-btn-controller
                    .input-hidden
                        input(type="hidden",name=input_name,value=image.image)
                    .preview.text-center
                        img(src=image.image)
                    .action
                        button.btn.btn-square.btn-danger.delete-image.mr-3(type='button') &times;
        .add-image
            button.btn.btn-square.btn-secondary.btn-block(type='button',data-toggle="modal" data-target=element_selector_id) Thêm hình ảnh

        .modal.modal-select-media.fade(tabindex='-1', role='dialog', aria-hidden='true',id=element_name)
            .modal-dialog.modal-lg(role='document')
                .modal-content
                    .modal-header
                        h4.modal-title Chọn hình ảnh
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        .row.height-100
                            #listMedia.list-media.col-sm-9
                                ul
                            #info.col-sm-3
                                h5 Tải hình ảnh mới
                                hr
                                #fileUploadForm.dropzoneTemplate
                                    .dz-message.needsclick
                                        button.dz-button(type='button') Drop files here or click to upload.
                                        br
                                        span.note.needsclick Tải lên hình ảnh mới
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy
                        button.btn.btn-primary.select-image-final(type='button') Chọn hình ảnh

        script.
            $(document).ready(function () {
                imageMultiSelect = null;

                function loadMedia() {
                    $.ajax({
                        url: "/admin/media/json",
                        type: "GET",
                        success: function (response) {
                            if (response.docs) {
                                for (const item of response.docs) {
                                    var template = "<li class='media-item' data-url='" + item.url + "'><div class='thumb-image'><img src='" + item.url + "'/></div></li>"
                                    $("#{element_selector_id}").find(".list-media ul").append(template);
                                }
                            }
                        }
                    })
                }

                function fileUpload() {
                    $("#{element_selector_id}").find("div#fileUploadForm").dropzone({
                        url: "/admin/media/upload",
                        previewsContainer: "#{element_selector_id} #listMedia ul",
                        previewTemplate: document.querySelector('#preview-template-container').innerHTML,
                        success: function (file, response) {
                            file.previewElement.classList.add("dz-success")
                            $(file.previewElement).attr("data-id", response.id);
                            $(file.previewElement).attr("data-name", response.name);
                            $(file.previewElement).attr("data-url", response.url);
                        },
                        error: function (file, response) {
                            $(file.previewElement).remove();
                        },
                    });

                }

                function selectImage() {
                    $(document).on("click", "#{element_selector_id} .media-item", function (e) {
                        e.preventDefault();
                        var url = $(this).data("url");
                        $("#{element_selector_id} .media-item").removeClass("selected");
                        $(this).addClass("selected");
                        imageMultiSelect = url;
                    });
                }

                function selectImageFinal() {
                    $(".select-image-final").click(function () {
                        if (imageMultiSelect) {
                            var html = "" +
                                "<div class='media-btn-controller'>" +
                                    "<div class='input-hidden'>" +
                                        "<input type='hidden' name='#{input_name}' value='"+imageMultiSelect+"'/>" +
                                    "</div>"+
                                    "<div class='preview text-center'>" +
                                        "<img src='"+imageMultiSelect+"'/>" +
                                    "</div>" +
                                    "<div class='action'>" +
                                        "<button class='btn btn-square btn-danger delete-image' type='button'>&times;</button>" +
                                    "</div>"+
                                "</div>";

                            $("#{element_selector_class}").find(".gallery-list").append(html);

                        }
                        $("#{element_selector_id}").modal("hide");
                    })
                }

                function hiddenModal() {
                    $("#{element_selector_id}").on('hidden.bs.modal', function () {
                        imageMultiSelect = null
                    });
                }

                function hiddenModal() {
                    $("#{element_selector_id}").on('show.bs.modal', function () {
                        $("#{element_selector_id}").find(".list-media ul").html("");
                        loadMedia()
                    });
                }

                function deleteImage() {
                    $(document).on("click","#{element_selector_class} .delete-image",function(e){
                    //$("#{element_selector_class}").find(".delete-image").click(function (e) {
                        e.preventDefault();
                        $(this).closest(".media-btn-controller").remove();
                    })
                }


                loadMedia();
                fileUpload();
                selectImage();
                selectImageFinal();
                hiddenModal();
                deleteImage();
            })