mixin mediaButton(id,image)
    - var element_name = 'mediaDetail-' + id
    - var input_name = 'media_input' + id
    - var element_selector_id = '#' + element_name
    - var element_selector_class = '.' + element_name
    .media-btn(class=element_name)
        .media-btn-controller
            .input-hidden
                input(type="hidden",name=id,value=image)
            .preview.text-center(data-toggle="modal" data-target=element_selector_id)
                if image
                    img(src=image)
                p(class=image ? "hide" : "") Chọn hình ảnh
            .actions.text-right.mt-2(class=image ? "" : "hide")
                button.btn.btn-square.btn-danger.delete-image.mr-3(type='button') Xóa
                button.btn.btn-square.btn-secondary(type='button',data-toggle="modal" data-target=element_selector_id) Thay đổi
        .modal.modal-select-media.fade(tabindex='-1', role='dialog', aria-hidden='true',id=element_name)
            .modal-dialog.modal-lg(role='document')
                .modal-content
                    .modal-header
                        h4.modal-title Chọn hình ảnh
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        .row.height-100
                            #listMedia.list-media.col-sm-9
                                ul
                            #info.col-sm-3
                                h5 Tải hình ảnh mới
                                hr
                                #fileUploadForm.dropzoneTemplate
                                    .dz-message.needsclick
                                        button.dz-button(type='button') Drop files here or click to upload.
                                        br
                                        span.note.needsclick Tải lên hình ảnh mới
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy
                        button.btn.btn-primary.select-image-final(type='button') Chọn hình ảnh

        script.
            $(document).ready(function () {
                imageSelect = null;
                function loadMedia(){
                    $.ajax({
                        url: "/admin/media/json",
                        type: "GET",
                        success: function (response) {
                            if(response.docs){
                                for (const item of response.docs) {
                                    var template = "<li class='media-item' data-url='" + item.url + "'><div class='thumb-image'><img src='"+ item.url +"'/></div></li>"
                                    $("#{element_selector_id}").find(".list-media ul").append(template);
                                }
                            }
                        }
                    })
                }

                function fileUpload() {
                    $("#{element_selector_id}").find("div#fileUploadForm").dropzone({
                        url: "/admin/media/upload",
                        previewsContainer: "#{element_selector_id} #listMedia ul",
                        previewTemplate: document.querySelector('#preview-template-container').innerHTML,
                        success: function (file, response) {
                            file.previewElement.classList.add("dz-success")
                            $(file.previewElement).attr("data-id", response.id);
                            $(file.previewElement).attr("data-name", response.name);
                            $(file.previewElement).attr("data-url", response.url);
                        },
                        error: function (file, response) {
                            $(file.previewElement).remove();
                        },
                    });

                }

                function selectImage(){
                    $(document).on("click", "#{element_selector_id} .media-item", function (e) {
                        e.preventDefault();
                        var url = $(this).data("url");
                        $("#{element_selector_id} .media-item").removeClass("selected");
                        $(this).addClass("selected");
                        imageSelect = url;
                    });
                }

                function selectImageFinal(){
                        $(".select-image-final").click(function(){
                            if(imageSelect){
                                $("input[name=#{id}]").val(imageSelect);
                                $("#{element_selector_class}").find(".preview p").addClass("hide");
                                $("#{element_selector_class}").find(".actions").removeClass("hide");
                                if($("#{element_selector_class}").find(".preview img").length){
                                    $("#{element_selector_class}").find(".preview img").attr("src",imageSelect)
                                }else{
                                    $("#{element_selector_class}").find(".preview").append('<img src="'+ imageSelect +'"/>')
                                }

                            }
                            $("#{element_selector_id}").modal("hide");
                        })
                }
                function hiddenModal(){
                    $("#{element_selector_id}").on('hidden.bs.modal',function(){
                        imageSelect = null
                    });
                }
                function hiddenModal(){
                    $("#{element_selector_id}").on('show.bs.modal',function(){
                        $("#{element_selector_id}").find(".list-media ul").html("");
                        loadMedia()
                    });
                }

                function deleteImage() {
                    $("#{element_selector_class}").find(".delete-image").click(function (e){
                        e.preventDefault();
                        $("input[name=#{id}]").val("");
                        $("#{element_selector_class}").find(".preview p").removeClass("hide");
                        $("#{element_selector_class}").find(".actions").addClass("hide");
                        $("#{element_selector_class}").find(".preview img").remove();
                    })
                }


                //$("#{element_selector_id}").modal();
                loadMedia();
                fileUpload();
                selectImage();
                selectImageFinal();
                hiddenModal();
                deleteImage();
            })