extends _layout/page
block content
    .container
        .row.justify-content-center
            .col-md-8
                .card-group
                    .card.p-4
                        .card-body
                            h1 Đăng nhập
                            p.text-muted Đăng nhập với tài khoản
                            form(method="post" action="/login")
                                .input-group.mb-3
                                    .input-group-prepend
                                        span.input-group-text
                                            i.icon-user
                                    input.form-control(type='text', name="username", placeholder='Tên đăng nhập')
                                .input-group.mb-4
                                    .input-group-prepend
                                        span.input-group-text
                                            i.icon-lock
                                    input.form-control(type='password', placeholder='Mật khẩu',name="password")
                                .row
                                    .col-6
                                        button.btn.btn-primary.px-4(type='submit') Đănng nhập
                                    .col-6.text-right
                                        button.btn.btn-link.px-0(type='button') Quên mật khẩu?