mixin headermenu(name)
    .header-inner
        .container
            .cat-nav-head
                .row
                    .col-12
                        .menu-area
                            // Main Menu
                            nav.navbar.navbar-expand-lg
                                .navbar-collapse
                                    .nav-inner
                                        ul.nav.main-menu.menu.navbar-nav
                                            li(class=name == 'home' ? 'active' : '')
                                                a(href='/') Trang chủ
                                            li(class=name == 'product' ? 'active' : '')
                                                a(href='/san-pham') Sản phẩm
                                            if menuCategories
                                                li(class=name == 'productCategory' ? 'active' : '')
                                                    a(href='#')
                                                        | Danh mục
                                                        i.ti-angle-down
                                                    ul.dropdown
                                                        each menuCategory in menuCategories
                                                            li
                                                                a(href=`/danh-muc/${menuCategory.slug}`) #{menuCategory.name}
                                            li(class=name == 'about' ? 'active' : '')
                                                a(href='/gioi-thieu') Giới thiệu
                                            li(class=name == 'blog' ? 'active' : '')
                                                a(href='/tin-tuc') Tin Tức
                                            li(class=name == 'contact' ? 'active' : '')
                                                a(href='/lien-he') Liên hệ

mixin shopservice
    section.shop-services.section.home
        .container
            .row
                .col-lg-3.col-md-6.col-12
                    // Start Single Service
                    .single-service
                        i.ti-rocket
                        h4 Giao hàng
                        p Miễn phí nội thành
                    // End Single Service
                .col-lg-3.col-md-6.col-12
                    // Start Single Service
                    .single-service
                        i.ti-reload
                        h4 Hoàn trả
                        p Trong 30 ngày
                    // End Single Service
                .col-lg-3.col-md-6.col-12
                    // Start Single Service
                    .single-service
                        i.ti-lock
                        h4 Thanh toán
                        p An toàn 100%
                    // End Single Service
                .col-lg-3.col-md-6.col-12
                    // Start Single Service
                    .single-service
                        i.ti-tag
                        h4 Giá cả
                        p Giá cả đảm bảo tốt nhất
                    // End Single Service

mixin blogitem(blog)
    .shop-single-blog
        img(src=blog.image ? blog.image:"https://via.placeholder.com/370x300", alt=blog.title)
        .content
            p.date #{blog.createdAt}
            a.title(href=`/tin-tuc/${blog.slug}`) #{blog.title}
            a.more-btn(href=`/tin-tuc/${blog.slug}`) Đọc tiếp

mixin productitem(item)
    .single-product
        .product-img
            a(href=`/san-pham/${item.slug}`)
                img.default-img(src=item.image ? item.image:'https://via.placeholder.com/550x750', alt=item.name)
                if(item.label)
                    span.out-of-stock(class=item.label) #{item.label}
            .button-head
                a.addtocartajax.mr-3(title='Add to cart', href=`/san-pham/${item.slug}` data-id=item.id)
                    i.ti-bag
                    | Thêm vào giỏ hàng
                a(title='Add to cart', href=`/san-pham/${item.slug}` data-id=item.id)
                    i.ti-eye
                    | Xem chi tiết
        .product-content
            h3
                a(href=`/san-pham/${item.slug}`) #{item.name}
            .product-price
                if (item.price && item.sale_price)
                    span.disabled_price
                        span.price-format #{item.price}
                        span.price-currency đ
                    span.active_price
                        span.price-format #{item.sale_price}
                        span.price-currency đ
                else if (item.price)
                    span.active_price
                        span.price-format #{item.price}
                        span.price-currency đ
                else if (item.sale_price)
                    span.active_price
                        span.price-format #{item.sale_price}
                        span.price-currency đ
                else
                    span.active_price Liên hệ