extends _layout/default
block menu
    +headermenu('about')
block content
    .breadcrumbs
        .container
            .row
                .col-12
                    .bread-inner
                        ul.bread-list
                            li
                                a(href='/')
                                    | Trang chủ
                                    i.ti-arrow-right
                            li.active
                                a(href='#') Giới thiệu
    section.about-us.section
        .container
            .row
                .col-lg-6.col-12
                    .about-content
                        h3
                            | Welcom to
                            span Eshop
                        p
                            | Eshop là hệ thống cửa hàng thời trang nữ được thành lập năm 2020. Đến với Eshop bạn sẽ tới những sản phẩm có thiết kế đa dạng, phong cách cùng đường nét chất liệu tinh tế, tỉ mỉ. Eshop luôn mong muốn đem tới khách hàng sự hài lòng và tự tin nhất trong công việc cũng như sự thành công trong cuộc sống.
                        p
                            | Eshop cam kết đem đến cho phái đẹp những sản phẩm quần áo, phụ kiện thời trang chất lượng, đảm bảo. Với giá thành vô cùng hợp lý.
                        .button
                            a.btn(href='/tin-tuc') Tin tức
                            a.btn.primary(href='/lien-he') Liên hệ
                .col-lg-6.col-12
                    .about-img.overlay
                        .button
                            a.video.video-popup.mfp-iframe(href='https://www.youtube.com/watch?v=nh2aYrGMrIE')
                                i.fa.fa-play
                        img(src='images/about.jpg', alt='#')

    section#team.team.section
        .container
            .row
                .col-12
                    .section-title
                        h2 Đội ngũ của chúng tôi
                        p
                            | Các chuyên gia trẻ trong ngành thời trang, luôn mang tới những ý tưởng độc đáo mới lạ.
            .row
                // Single Team
                .col-lg-3.col-md-6.col-12
                    .single-team
                        // Image
                        .image
                            img(src='images/team/team1.jpg', alt='#')
                        // End Image
                        .info-head
                            // Info Box
                            .info-box
                                h4.name
                                    a(href='#') Đỗ Huyền Linh
                                span.designation Giám đốc, nhà sáng lập
                            // End Info Box
                            // Social
                            .social-links
                                ul.social
                                    li
                                        a(href='#')
                                            i.fa.fa-facebook-f
                                    li
                                        a(href='#')
                                            i.fa.fa-twitter
                                    li
                                        a(href='#')
                                            i.fa.fa-behance
                                    li
                                        a(href='#')
                                            i.fa.fa-instagram
                            // End Social
                // End Single Team
                .col-lg-3.col-md-6.col-12
                    .single-team
                        // Image
                        .image
                            img(src='images/team/team2.jpg', alt='#')
                        // End Image
                        .info-head
                            // Info Box
                            .info-box
                                h4.name
                                    a(href='#') Ngô Hoàng Anh
                                span.designation Quản lý chi nhánh 65 Hồng Mai
                            // End Info Box
                            // Social
                            .social-links
                                ul.social
                                    li
                                        a(href='#')
                                            i.fa.fa-facebook-f
                                    li
                                        a(href='#')
                                            i.fa.fa-twitter
                                    li
                                        a(href='#')
                                            i.fa.fa-behance
                                    li
                                        a(href='#')
                                            i.fa.fa-instagram
                            // End Social
                // End Single Team
                .col-lg-3.col-md-6.col-12
                    .single-team
                        // Image
                        .image
                            img(src='images/team/team3.jpg', alt='#')
                        // End Image
                        .info-head
                            // Info Box
                            .info-box
                                h4.name
                                    a(href='#') Nguyễn Huy Chương
                                span.designation NTK thời trang
                            // End Info Box
                            // Social
                            .social-links
                                ul.social
                                    li
                                        a(href='#')
                                            i.fa.fa-facebook-f
                                    li
                                        a(href='#')
                                            i.fa.fa-twitter
                                    li
                                        a(href='#')
                                            i.fa.fa-behance
                                    li
                                        a(href='#')
                                            i.fa.fa-instagram
                            // End Social
                // End Single Team
                .col-lg-3.col-md-6.col-12
                    .single-team
                        // Image
                        .image
                            img(src='images/team/team4.jpg', alt='#')
                        // End Image
                        .info-head
                            // Info Box
                            .info-box
                                h4.name
                                    a(href='#') Lê Thị Thanh Huyền
                                span.designation Quản lý chi nhánh 121 Đông Các
                            // End Info Box
                            // Social
                            .social-links
                                ul.social
                                    li
                                        a(href='#')
                                            i.fa.fa-facebook-f
                                    li
                                        a(href='#')
                                            i.fa.fa-twitter
                                    li
                                        a(href='#')
                                            i.fa.fa-behance
                                    li
                                        a(href='#')
                                            i.fa.fa-instagram
                            // End Social
                // End Single Team

    +shopservice