extends _layout/default
block menu
    +headermenu('blog')
block content
    .breadcrumbs
        .container
            .row
                .col-12
                    .bread-inner
                        ul.bread-list
                            li
                                a(href='/')
                                    | Trang chủ
                                    i.ti-arrow-right
                            li.active
                                a(href='#') Tin tức
    .blog-single.shop-blog.grid.section
        .container
            .row
                .col-12
                    .row
                        each item in items
                            .col-lg-4.col-md-6.col-12
                                + blogitem(item)

                        .col-12
                            if pages > 1
                                .pagination.center
                                    ul.pagination-list
                                        - var page = 0
                                        - var current_page = parseFloat(queryInUrl.page) || 1
                                        li(class=current_page == 1 ? "disabled":null)
                                            a(href=pageLinks[current_page - 2])
                                                i.ti-arrow-left
                                        while page < pages
                                            - var index = page
                                            - page++
                                            li(class=current_page == page || (!current_page && !page) ? "active" : null)
                                                a(href=pageLinks[index]) #{page}
                                        li(class=current_page == pages ? "disabled":null)
                                            a(href=pageLinks[current_page])
                                                i.ti-arrow-right
    

