extends _layout/default
block menu
    +headermenu('blog')
block content
    .breadcrumbs
        .container
            .row
                .col-12
                    .bread-inner
                        ul.bread-list
                            li
                                a(href='/')
                                    | Trang chủ
                                    i.ti-arrow-right
                            li
                                a(href='/tin-tuc')
                                    | Tin tức
                                    i.ti-arrow-right
                            li.active
                                a(href='#') #{item.title}

    section.blog-single.section
        .container
            .row
                .col-lg-10.offset-lg-1.col-12
                    .blog-single-main
                        .row
                            .col-12
                                .image
                                    img(src=item.image, alt=item.title)
                                .blog-detail
                                    h2.blog-title #{item.title}
                                    .blog-meta
                                        span.author
                                            a(href='#')
                                                i.fa.fa-calendar
                                                | #{item.createdAt}
                                            a(href='#')
                                                i.fa.fa-comments
                                                | Comment (0)
                                    .content !{item.content}
