extends _layout/default
block menu
    +headermenu()

block content
    .breadcrumbs
        .container
            .row
                .col-12
                    .bread-inner
                        ul.bread-list
                            li
                                a(href='/')
                                    | Trang chủ
                                    i.ti-arrow-right
                            li.active
                                a(href='#') Giỏ hàng
    .shopping-cart.section
        .container
            .row
                .col-12
                    // Shopping Summery
                    table.table.shopping-summery
                        thead
                            tr.main-hading
                                th
                                th Tên sản phẩm
                                th.text-center Giá
                                th.text-center Số lượng
                                th.text-center Tổng tiền
                                th.text-center
                                    i.ti-trash.remove-icon
                        tbody
                            - var totalPrice = 0
                            each cart,index in sessionCart
                                - totalPrice += (parseInt(cart.quantity) * parseInt(cart.price))
                                tr.cart-item(data-index=index)
                                    td.image(data-title='No')
                                        if(cart.image)
                                            img(src=cart.image, alt='#')

                                    td.product-des(data-title='Description')
                                        p.product-name
                                            a(href=`/san-pham/${cart.slug}`) #{cart.name}
                                        if(cart.attributes)
                                            each val, key in cart.attributes
                                                p.m-0.p-0.product-des  #{key} : #{val}
                                    td.price(data-title='Price')
                                        span.price-format #{cart.price}
                                        span.price-currency đ
                                    td.qty(data-title='Qty')
                                        // Input Order
                                        .input-group
                                            .button.minus
                                                button.btn.btn-primary.btn-number(type='button', disabled='disabled', data-type='minus', data-field=`quantity_${index}`)
                                                    i.ti-minus
                                            input.input-number.cart-change-quantity(type='text', name=`quantity_${index}`, data-min='1', data-max='100', value=cart.quantity data-index=index)
                                            .button.plus
                                                button.btn.btn-primary.btn-number(type='button', data-type='plus', data-field=`quantity_${index}`)
                                                    i.ti-plus
                                        // / End Input Order
                                    td.total-amount(data-title='Total')
                                        span.price-format #{parseInt(cart.price) * parseInt(cart.quantity)}
                                        span.price-currency đ
                                    td.action(data-title='Remove')
                                        a.delete-cart-item.reload(href='#' data-index=index)
                                            i.ti-trash.remove-icon
            .row
                .col-12
                    // Total Amount
                    .total-amount
                        .row
                            .col-lg-7.col-md-5.col-12
                                //.left
                                //    .coupon
                                //        form(action='#', target='_blank')
                                //            input(name='Coupon', placeholder='Enter Your Coupon')
                                //            button.btn Apply
                                //    .checkbox
                                //        label.checkbox-inline(for='2')
                                //            input#2(name='news', type='checkbox')
                                //            |  Shipping (+10$)
                            .col-lg-5.col-md-7.col-12
                                .right
                                    ul
                                        li#total-amount-all-items
                                            | Tổng tiền
                                            span.price-currency đ
                                            span.price-format #{totalPrice}

                                        li
                                            | Phí vận chuyển
                                            span Free
                                        li.last#total-cart-amount
                                            | Tổng tiền thanh toán
                                            span.price-currency đ
                                            span.price-format #{totalPrice}

                                    .button5
                                        a.btn(href='/thanh-toan') Thanh toán
                                        a.btn(href='/san-pham') Tiếp tục mua hàng
    +shopservice


