extends _layout/default
block menu
    +headermenu()

block content
    .breadcrumbs
        .container
            .row
                .col-12
                    .bread-inner
                        ul.bread-list
                            li
                                a(href='/')
                                    | Trang chủ
                                    i.ti-arrow-right
                            li.active
                                a(href='#') Thanh toán
    section.shop.checkout.section
        form.form(action="" method="post")
            .container
                .row
                    .col-12
                        if(error)
                            .alert.alert-danger(role='alert')
                                | !{error}
                .row
                    .col-lg-8.col-12
                        .checkout-form
                            h2 Người nhận
                            p Điền thông tin của người nhận hàng
                            .row
                                .col-lg-6.col-md-6.col-12
                                    .form-group
                                        label
                                            | Họ và tên đệm
                                            span *
                                        input(type='text', name='first_name', placeholder='', required='required' value=bodyParams && bodyParams.first_name ? bodyParams.first_name:userLogged?userLogged.first_name:'')
                                .col-lg-6.col-md-6.col-12
                                    .form-group
                                        label
                                            | Tên
                                            span *
                                        input(type='text', name='last_name', placeholder='', required='required' value=bodyParams && bodyParams.last_name ? bodyParams.last_name:userLogged?userLogged.last_name:'')
                                .col-lg-6.col-md-6.col-12
                                    .form-group
                                        label
                                            | Địa chỉ
                                            span *
                                        input(type='text', name='address', placeholder='', required='required' value=bodyParams && bodyParams.address ? bodyParams.address:userLogged?userLogged.address:'')
                                .col-lg-6.col-md-6.col-12
                                    .form-group
                                        label
                                            | Số điện thoại
                                            span *
                                        input(type='text', name='phone_number', data-mask="##########", placeholder='', required='required' value=bodyParams && bodyParams.phone_number ? bodyParams.phone_number:userLogged?userLogged.phone_number:'')
                    .col-lg-4.col-12
                        .order-details
                            // Order Widget
                            .single-widget
                                h2 Tổng giá trị đơn hàng
                                .content
                                    ul
                                        li
                                            | Tổng tiền sản phẩm
                                            span.amount
                                                span.price-currency đ
                                                span.price-format #{totalItemPrice}

                                        li
                                            | (+) Phí vận chuyển
                                            span.amount
                                                span.price-currency đ
                                                span.price-format #{shipPrice}
                                        li.last
                                            | Tổng tiền
                                            span.amount
                                                span.price-currency đ
                                                span.price-format #{totalOrderPrice}
                            // / End Order Widget
                            // Order Widget
                            .single-widget
                                h2 Chọn hình thức thanh toán
                                .content
                                    .checkbox
                                        input.d-none#cod(name='payment_method', type='radio' checked value="COD")
                                        label.checkbox-inline(for='cod')
                                            |  Thanh toán khi nhận hàng
                                        //label.checkbox-inline(for='2')
                                        //    input#2(name='payment_method', type='checkbox')
                                        //    |  Chuyển khoản
                            .single-widget.get-button
                                .content
                                    .button
                                        button.btn(type='submit') Thanh toán
                            // / End Button Widget
    +shopservice


