extends _layout/default
block menu
    +headermenu('contact')

block content
    .breadcrumbs
        .container
            .row
                .col-12
                    .bread-inner
                        ul.bread-list
                            li
                                a(href='/')
                                    | Trang chủ
                                    i.ti-arrow-right
                            li.active
                                a(href='#') Liên hệ
    section#contact-us.contact-us.section
        .container
            .contact-head
                .row
                    .col-lg-8.col-12
                        .form-main
                            .title
                                h4 Liên hệ với chúng tôi
                                h3 Thông tin và lời nhắn
                            form.form(method='post', action='mail/mail.php')
                                .row
                                    .col-lg-6.col-12
                                        .form-group
                                            label
                                                | Họ và tên
                                                span *
                                            input(name='name', type='text', placeholder='')
                                    .col-lg-6.col-12
                                        .form-group
                                            label
                                                | Thắc mắc
                                                span *
                                            input(name='subject', type='text', placeholder='')
                                    .col-lg-6.col-12
                                        .form-group
                                            label
                                                | Email
                                                span *
                                            input(name='email', type='email', placeholder='')
                                    .col-lg-6.col-12
                                        .form-group
                                            label
                                                | Số điện thoại
                                                span *
                                            input(name='company_name', type='text', placeholder='')
                                    .col-12
                                        .form-group.message
                                            label
                                                | Lời nhắn của bạn
                                                span *
                                            textarea(name='message', placeholder='')
                                    .col-12
                                        .form-group.button
                                            button.btn(type='submit') Send Message
                    .col-lg-4.col-12
                        .single-head
                            .single-info
                                i.fa.fa-phone
                                h4.title Liên hệ:
                                ul
                                    li +84 349 996 918
                                    li +84 962 895 333
                            .single-info
                                i.fa.fa-envelope-open
                                h4.title Email:
                                ul
                                    li
                                        a(href='mailto:info@yourwebsite.com') Meoshop@gmail.com
                                    li
                                        a(href='mailto:info@yourwebsite.com') Meongoc25251325@gmail.com
                            .single-info
                                i.fa.fa-location-arrow
                                h4.title Địa chỉ:
                                ul
                                    li Số 121 Đông Các, Phường Ô Chợ Dừa, Quận Đống Đa, Tp.Hà Nội
    .map-section
        #myMap

block script
    script(src='https://maps.googleapis.com/maps/api/js?key=AIzaSyDnhgNBg6jrSuqhTeKKEFDWI0_5fZLx0vM')
    script(src='/template/default/js/gmap.min.js')
    script(src='/template/default/js/map-script.js')
