extends _layout/default
block menu
  +headermenu('home')

block content
  include _partials/slider

  if(hot_product.length)
    .product-area.most-popular.section
    .container
      .row
        .col-12
          .section-title
            h2 Sản phẩm nổi bật
      .row
        .col-12
          .owl-carousel.popular-slider
            each product in hot_product
              + productitem(product)
  if(new_product.length)
    .product-area.most-popular.section
    .container
      .row
        .col-12
          .section-title
            h2 Sản phẩm mới
      .row
        .col-12
          .owl-carousel.popular-slider
            each product in new_product
              + productitem(product)
  if(sale_product.length)
    .product-area.most-popular.section
    .container
      .row
        .col-12
          .section-title
            h2 Sản phẩm khuyến mại
      .row
        .col-12
          .owl-carousel.popular-slider
            each product in sale_product
              + productitem(product)




  // Start Shop Blog
  section.shop-blog.section
    .container
      .row
        .col-12
          .section-title
            h2 Tin tức
      .row
        each blog in blogs
          .col-lg-4.col-md-6.col-12
            + blogitem(blog)
  +shopservice
  // Modal
  // Modal
  #exampleModal.modal.fade(tabindex='-1', role='dialog')
    .modal-dialog(role='document')
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal', aria-label='Close')
            span.ti-close(aria-hidden='true')
        .modal-body
          .row.no-gutters
            .col-lg-6.col-md-12.col-sm-12.col-xs-12
              // Product Slider
              .product-gallery
                .quickview-slider-active
                  .single-slider
                    img(src='/images/modal1.png', alt='#')
                  .single-slider
                    img(src='/images/modal2.png', alt='#')
                  .single-slider
                    img(src='/images/modal3.png', alt='#')
                  .single-slider
                    img(src='/images/modal4.png', alt='#')
              // End Product slider
            .col-lg-6.col-md-12.col-sm-12.col-xs-12
              .quickview-content
                h2 Flared Shift Dress
                .quickview-ratting-review
                  .quickview-ratting-wrap
                    .quickview-ratting
                      i.yellow.fa.fa-star
                      i.yellow.fa.fa-star
                      i.yellow.fa.fa-star
                      i.yellow.fa.fa-star
                      i.fa.fa-star
                    a(href='#')  (1 customer review)
                  .quickview-stock
                    span
                      i.fa.fa-check-circle-o
                      |  in stock
                h3 $29.00
                .quickview-peragraph
                  p
                    | Lorem ipsum dolor sit amet, consectetur adipisicing elit. Mollitia iste laborum ad impedit pariatur esse optio tempora sint ullam autem deleniti nam in quos qui nemo ipsum numquam.
                .size
                  .row
                    .col-lg-6.col-12
                      h5.title Size
                      select
                        option(selected='selected') s
                        option m
                        option l
                        option xl
                    .col-lg-6.col-12
                      h5.title Color
                      select
                        option(selected='selected') orange
                        option purple
                        option black
                        option pink
                .quantity
                  // Input Order
                  .input-group
                    .button.minus
                      button.btn.btn-primary.btn-number(type='button', disabled='disabled', data-type='minus', data-field='quant[1]')
                        i.ti-minus
                    input.input-number(type='text', name='quant[1]', data-min='1', data-max='1000', value='1')
                    .button.plus
                      button.btn.btn-primary.btn-number(type='button', data-type='plus', data-field='quant[1]')
                        i.ti-plus
                  // / End Input Order
                .add-to-cart
                  a.btn(href='#') Add to cart
                  a.btn.min(href='#')
                    i.ti-heart
                  a.btn.min(href='#')
                    i.fa.fa-compress
                .default-social
                  h4.share-now Share:
                  ul
                    li
                      a.facebook(href='#')
                        i.fa.fa-facebook
                    li
                      a.twitter(href='#')
                        i.fa.fa-twitter
                    li
                      a.youtube(href='#')
                        i.fa.fa-pinterest-p
                    li
                      a.dribbble(href='#')
                        i.fa.fa-google-plus
  // Modal end

  // Modal end

