extends _layout/default
block menu
    +headermenu()

block content
    .breadcrumbs
        .container
            .row
                .col-12
                    .bread-inner
                        ul.bread-list
                            li
                                a(href='/')
                                    | Trang chủ
                                    i.ti-arrow-right
                            li.active
                                a(href='#') Đăng nhập
    section.shop.login.section
        .container
            .row
                .col-lg-6.offset-lg-3.col-12
                    .login-form
                        h2 Đăng nhập
                        p Hãy đăng ký để thanh toán nhanh hơn
                        if(error)
                            .alert.alert-danger(role='alert')
                                | #{error}
                        form.form(method='post', action='')
                            .row
                                .col-12
                                    .form-group
                                        label
                                            | Tài khoản
                                            span *
                                        input(type='text', name='username', placeholder='', required='required')
                                .col-12
                                    .form-group
                                        label
                                            | Mật khẩu
                                            span *
                                        input(type='password', name='password', placeholder='', required='required')
                                .col-12
                                    .form-group.login-btn
                                        button.btn(type='submit') Đăng nhập
                                        a.btn(href='/dang-ky') Đăng ký
                                    .checkbox
                                        label.checkbox-inline(for='2')
                                            input#2(name='news', type='checkbox')
                                            | Ghi nhớ
                                    a.lost-pass(href='#') Quên mật khẩu?


