extends _layout/default
block menu
    +headermenu()

block content
    .breadcrumbs
        .container
            .row
                .col-12
                    .bread-inner
                        ul.bread-list
                            li
                                a(href='/')
                                    | Trang chủ
                                    i.ti-arrow-right
                            li.active
                                a(href='#') #{orderNumber}
            if(error)
                .row
                    .col-12
                        .alert.alert-danger.m-5.text-capitalize.text-center(role='alert')
                            | #{error}
            if(!item)
                .row
                    .col-12
                        .alert.alert-danger.m-5.text-capitalize.text-center(role='alert')
                            | Đơn hàng không tồn tại
            else
                if item.status == 'Chờ xác nhận'
                    .row
                        .col-12.text-center
                            .p-5
                                h3.mb-3  Cảm ơn bạn đã đặt hàng
                                p Chúng tôi đã nhận được đơn hàng của bạn. Chúng tôi sẽ liên hệ với bạn trong thời gian sớm nhất
                .row
                    .col-6
                        .card
                            .card-body
                                h6.card-title Thông tin đơn hàng
                                .row.mb-2
                                    label.col-sm-4.col-form-label.pt-0.pb-0 Mã đơn hàng
                                    .col-sm-8
                                        p.m-0 #{item.order_number}
                                .row.mb-2
                                    label.col-sm-4.col-form-label.pt-0.pb-0 Ngày đặt hàng
                                    .col-sm-8
                                        p.m-0.text-capitalize #{item.createdAt}
                                .row.mb-2
                                    label.col-sm-4.col-form-label.pt-0.pb-0 Trạng thái
                                    .col-sm-8
                                        p.m-0.text-capitalize #{item.status}
                                .row.mb-2
                                    label.col-sm-4.col-form-label.pt-0.pb-0 Thanh toán
                                    .col-sm-8
                                        if item.payment_method == "COD"
                                            p.m-0.text-capitalize Thanh toán khi giao hàng
                                        else
                                            p.m-0.text-capitalize Chưa xác định
                                .row.mb-2
                                    label.col-sm-4.col-form-label.pt-0.pb-0 Phí vận chuyển
                                    .col-sm-8
                                        p.m-0.text-capitalize
                                            span.amount
                                                span.price-format #{item.ship_price}
                                                span.price-currency đ
                                .row.mb-2
                                    label.col-sm-4.col-form-label.pt-0.pb-0 Tổng giá trị đơn hàng
                                    .col-sm-8
                                        p.m-0.text-capitalize
                                            span.amount
                                                span.price-format #{item.total_price}
                                                span.price-currency đ


                    .col-6
                        .card
                            .card-body
                                h6.card-title Thông tin người nhận
                                .row.mb-2
                                    label.col-sm-4.col-form-label.pt-0.pb-0 Họ và tên
                                    .col-sm-8
                                        p.m-0 #{item.first_name} #{item.last_name}
                                .row.mb-2
                                    label.col-sm-4.col-form-label.pt-0.pb-0 Địa chỉ
                                    .col-sm-8
                                        p.m-0.text-capitalize #{item.address}
                                .row.mb-2
                                    label.col-sm-4.col-form-label.pt-0.pb-0 Số điện thoại
                                    .col-sm-8
                                        p.m-0.text-capitalize #{item.phone_number}
                        if item.user
                            .card.mt-4
                                .card-body
                                    h6.card-title Thông tin người mua
                                    .row.mb-2
                                        label.col-sm-4.col-form-label.pt-0.pb-0 Họ và tên
                                        .col-sm-8
                                            p.m-0 #{item.user.first_name} #{item.user.last_name}
                                    .row.mb-2
                                        label.col-sm-4.col-form-label.pt-0.pb-0 Địa chỉ
                                        .col-sm-8
                                            p.m-0.text-capitalize #{item.user.address}
                                    .row.mb-2
                                        label.col-sm-4.col-form-label.pt-0.pb-0 Số điện thoại
                                        .col-sm-8
                                            p.m-0.text-capitalize #{item.user.phone_number}
                .row.mt-4
                    .col-12
                        .card
                            .card-body
                                h6.card-title Danh sách sản phẩm
                                table.table.shopping-summery
                                    thead
                                        tr.main-hading
                                            th
                                            th Tên sản phẩm
                                            th.text-center Giá
                                            th.text-center Số lượng
                                            th.text-center Tổng tiền
                                    tbody
                                        each product,index in item.items
                                            tr.cart-item
                                                td.image(data-title='No')
                                                    if(product.product_image)
                                                        img(src=product.product_image, alt='#')

                                                td.product-des(data-title='Description')
                                                    p.product-name
                                                        a(href=`/san-pham/${product.product_slug}`) #{product.product_name}
                                                    if(product.attributes)
                                                        each val, key in product.attributes
                                                            p.m-0.p-0.product-des  #{key} : #{val}
                                                td.price(data-title='Price')
                                                    span.price-format #{product.product_price}
                                                    span.price-currency đ
                                                td.qty(data-title='Qty')
                                                    p.m-0.p-0 #{product.quantity}
                                                td.total-amount(data-title='Total')
                                                    span.price-format #{parseInt(product.product_price) * parseInt(product.quantity)}
                                                    span.price-currency đ
    +shopservice


