extends _layout/default
block menu
    +headermenu()

block content
    .breadcrumbs
        .container
            .row
                .col-12
                    .bread-inner
                        ul.bread-list
                            li
                                a(href='/')
                                    | Trang chủ
                                    i.ti-arrow-right
                            li
                                a(href='/san-pham')
                                    | Sản phẩm
                                    i.ti-arrow-right
                            li.active
                                a(href='#') #{item.name}

    section.shop.single.section
        .container
            .row
                .col-12
                    .row
                        .col-lg-6.col-12
                            .product-gallery
                                .flexslider-thumbnails
                                    .flex-viewport
                                        ul.slides
                                            if(item.image)
                                                li(data-thumb=item.image)
                                                    img(src=item.image, alt='#')
                                            if(item.gallery)
                                                each gallery in item.gallery
                                                    li(data-thumb=gallery.image)
                                                        img(src=gallery.image, alt='#')
                        .col-lg-6.col-12
                            .product-des
                                .short
                                    h4 #{item.name}
                                    .rating-main
                                        ul.rating
                                            li
                                                i.fa.fa-star
                                            li
                                                i.fa.fa-star
                                            li
                                                i.fa.fa-star
                                            li
                                                i.fa.fa-star
                                            li
                                                i.fa.fa-star-half-o
                                        a.total-review(href='#') (0) Review
                                    .product-price.font-2xl
                                        if (item.price && item.sale_price)
                                            span.disabled_price
                                                span.price-format #{item.price}
                                                span.price-currency đ
                                            span.active_price
                                                span.price-format #{item.sale_price}
                                                span.price-currency đ
                                        else if (item.price)
                                            span.active_price
                                                span.price-format #{item.price}
                                                span.price-currency đ
                                        else if (item.sale_price)
                                            span.active_price
                                                span.price-format #{item.sale_price}
                                                span.price-currency đ
                                        else
                                            span.active_price Liên hệ
                                    .description
                                        | !{item.description}
                                form#addtocart(action="/them-gio-hang")
                                    if(item.attributes)
                                        .product-attributes
                                            h3 Tùy chọn
                                            .product-attribute
                                                each attribute in item.attributes
                                                    .attribute
                                                        h4 #{attribute.attribute.name}
                                                        ul
                                                            each value in attribute.values
                                                                li
                                                                    input(type="radio" value=value.name id=`attribute_${value.id}` name=`attribute[${attribute.attribute.name}]`)
                                                                    label(for=`attribute_${value.id}`) #{value.name}
                                    .product-buy
                                        .quantity
                                            h6 Số lượng :
                                            .input-group
                                                .button.minus
                                                    button.btn.btn-primary.btn-number(type='button', disabled='disabled', data-type='minus', data-field='quant')
                                                        i.ti-minus
                                                input.input-number(type='text', name='quant', data-min='1', data-max='1000', value='1')
                                                .button.plus
                                                    button.btn.btn-primary.btn-number(type='button', data-type='plus', data-field='quant')
                                                        i.ti-plus
                                        .add-to-cart
                                            button.btn(type="submit") Thêm vào giỏ hàng
                                            input(type="hidden" name="product_id" value=item.id)
                                        p.availability Trạng thái : #{item.stock ? 'Còn hàng' : 'Hết hàng'}
                    .row
                        .col-12