extends _layout/default
block menu
    +headermenu('product')

block content
    .breadcrumbs
        .container
            .row
                .col-12
                    .bread-inner
                        ul.bread-list
                            li
                                a(href='/')
                                    | Trang chủ
                                    i.ti-arrow-right
                            li.active
                                a(href='#') Danh sách sản phẩm

    section.product-area.shop-sidebar.shop.section
        form(action="" method="get")
            .container
                .row
                    .col-lg-3.col-md-4.col-12
                        .shop-sidebar
                            if(productCategories)
                                .single-widget.category
                                    h3.title Danh mục
                                    ul.categor-list
                                        each productCategory in productCategories
                                            li
                                                a(href=`/danh-muc/${productCategory.slug}`) #{productCategory.name}
                            .single-widget.range
                                h3.title Khoảng giá
                                .price-filter
                                    .price-filter-inner
                                        #slider-range
                                        .price_slider_amount
                                            input(type="hidden" value=queryInUrl.start_price ? queryInUrl.start_price:''  name="start_price")
                                            input(type="hidden" value=queryInUrl.end_price ? queryInUrl.end_price:'' name="end_price")
                                            .label-input
                                                span Giá:
                                                p.slider-range-value
                                                    span.start-price.m-0
                                                        span.price-format.m-0
                                                        span.price-currency.m-0 đ
                                                    span.ml-1.mr-1 -
                                                    span.end-price.m-0
                                                        span.price-format.m-0
                                                        span.price-currency.m-0 đ

                                .text-right.pt-3.d-flex.justify-content-end
                                    a.color-white.btn.btn-primary.btn-sm.p-3.mr-3(href="/san-pham") Xóa
                                    button.btn.btn-primary.btn-sm.p-3 Lọc

                    .col-lg-9.col-md-8.col-12
                        .row
                            .col-12
                                .shop-top
                                    .shop-shorter
                                        .single-shorter
                                            label Sắp xếp :
                                            select#orderby(name="orderby")
                                                option(value="name" selected=(queryInUrl.orderby || queryInUrl.orderby == 'name') ? true : false) Tên
                                                option(value="price_desc" selected=queryInUrl.orderby == 'price_desc' ? true : false) Giá từ cao đến thấp
                                                option(value="price_asc" selected=queryInUrl.orderby == 'price_asc' ? true : false) Giá từ thấp đến cao
                        .row
                            each product in products
                                .col-lg-4.col-md-6.col-12
                                    + productitem(product)
                        .row
                            .col-12
                                if pages && pages > 1
                                    .pagination.center
                                        ul.pagination-list
                                            - var page = 0
                                            - var current_page = parseFloat(queryInUrl.page) || 1
                                            li(class=current_page == 1 ? "disabled":null)
                                                a(href=pageLinks[current_page - 2])
                                                    i.ti-arrow-left
                                            while page < pages
                                                - var index = page
                                                - page++
                                                li(class=current_page == page || (!current_page && !page) ? "active" : null)
                                                    a(href=pageLinks[index]) #{page}
                                            li(class=current_page == pages ? "disabled":null)
                                                a(href=pageLinks[current_page])
                                                    i.ti-arrow-right




