extends _layout/default
block menu
	+headermenu('product')

block content
	.breadcrumbs
		.container
			.row
				.col-12
					.bread-inner
						ul.bread-list
							li
								a(href='/')
									| Trang chủ
									i.ti-arrow-right
							li.active
								a(href='#') #{item.name}

	section.product-area.shop-sidebar.shop.section
		.container
			if(products.length)
				.row
					form(action="" method="get")
						.col-12
							.shop-top
								.shop-shorter
									.single-shorter
										label Sắp xếp :
										select#orderby(name="orderby")
											option(value="name" selected=(queryInUrl.orderby || queryInUrl.orderby == 'name') ? true:false) Tên
											option(value="price_desc" selected=queryInUrl.orderby == 'price_desc' ? true:false) Giá từ cao đến thấp
											option(value="price_asc" selected=queryInUrl.orderby == 'price_asc' ? true:false) Giá từ thấp đến cao
				.row
					each product in products
						.col-lg-4.col-md-6.col-12
							+ productitem(product)
				.row
					.col-12
						if pages && pages > 1
							.pagination.center
								ul.pagination-list
									- var page = 0
									- var current_page = parseFloat(queryInUrl.page) || 1
									li(class=current_page == 1 ? "disabled":null)
										a(href=pageLinks[current_page - 2])
											i.ti-arrow-left
									while page < pages
										- var index = page
										- page++
										li(class=current_page == page || (!current_page && !page) ? "active" : null)
											a(href=pageLinks[index]) #{page}
									li(class=current_page == pages ? "disabled":null)
										a(href=pageLinks[current_page])
											i.ti-arrow-right
			else
				.alert.alert-warning.m-5(role="alert") Không có sản phẩm nào






