extends _layout/default
block menu
	+headermenu()

block content
	.breadcrumbs
		.container
			.row
				.col-12
					.bread-inner
						ul.bread-list
							li
								a(href='/')
									| Trang chủ
									i.ti-arrow-right
							li.active
								a(href='#') Tài khoản của tôi
	section.shop.login.section
		.container
			.row
				.col-lg-6.offset-lg-3.col-12
					.login-form
						h2 Thông tin tài khoản
						if(error)
							.alert.alert-danger(role='alert')
								| #{error}
						if success_message
							.alert.alert-success(role='alert') #{success_message}
						form.form(method='post', action='/tai-khoan')
							.row
								.col-12
									.form-group
										label
											| Tài khoản
											span *
										input(type='text', placeholder='', value=item?item.username:'' readonly)
								.col-12
									.form-group
										label
											| Họ và tên đệm
											span *
										input(type='text', name='first_name', placeholder='', required='required' value=item?item.first_name:'')
								.col-12
									.form-group
										label
											| Tên
											span *
										input(type='text', name='last_name', placeholder='', required='required' value=item?item.last_name:'')
								.col-12
									.form-group
										label
											| Địa chỉ
											span *
										input(type='text', name='address', placeholder='', required='required' value=item?item.address:'')
								.col-12
									.form-group
										label
											| Số điện thoại
											span *
										input(type='text', name='phone_number', placeholder='', required='required' data-mask="##########" value=item?item.phone_number:'')
								.col-12
									.form-group.login-btn
										button.btn(type='submit') Cập nhật thông tin



