extends _layout/default
block menu
    +headermenu()

block content
    .breadcrumbs
        .container
            .row
                .col-12
                    .bread-inner
                        ul.bread-list
                            li
                                a(href='/')
                                    | Trang chủ
                                    i.ti-arrow-right
                            li.active
                                a(href='#') Đăng ký
    section.shop.login.section
        .container
            .row
                .col-lg-6.offset-lg-3.col-12
                    .login-form
                        h2 Đăng Ký
                        p Hãy đăng ký để thanh toán nhanh hơn
                        if(error)
                            .alert.alert-danger(role='alert')
                                | #{error}
                        form.form(method='post', action='/dang-ky')
                            .row
                                .col-12
                                    .form-group
                                        label
                                            | Tài khoản
                                            span *
                                        input(type='text', name='username', placeholder='', required='required' value=bodyParams?bodyParams.username:'')
                                .col-12
                                    .form-group
                                        label
                                            | Mật khẩu
                                            span *
                                        input(type='password', name='password', placeholder='', required='required')
                                .col-12
                                    .form-group
                                        label
                                            | Nhập lại mật khẩu
                                            span *
                                        input(type='password', name='repassword', placeholder='', required='required')
                                .col-12
                                    .form-group
                                        label
                                            | Họ và tên đệm
                                            span *
                                        input(type='text', name='first_name', placeholder='', required='required' value=bodyParams?bodyParams.first_name:'')
                                .col-12
                                    .form-group
                                        label
                                            | Tên
                                            span *
                                        input(type='text', name='last_name', placeholder='', required='required' value=bodyParams?bodyParams.last_name:'')
                                .col-12
                                    .form-group
                                        label
                                            | Địa chỉ
                                            span *
                                        input(type='text', name='address', placeholder='', required='required' value=bodyParams?bodyParams.address:'')
                                .col-12
                                    .form-group
                                        label
                                            | Số điện thoại
                                            span *
                                        input(type='text', name='phone_number', placeholder='', required='required' data-mask="##########" value=bodyParams?bodyParams.phone_number:'')
                                .col-12
                                    .form-group.login-btn
                                        button.btn(type='submit') Đăng ký
                                        a.btn(href='/dang-nhap') Đăng nhập



