extends ../_layout/default
block content
    if error
        .alert.alert-danger(role='alert') #{error}
    .animated.fadeIn
        #fileUploadForm.dropzoneTemplate
            .dz-message.needsclick
                button.dz-button(type='button') Drop files here or click to upload.
                br
                span.note.needsclick Tải lên hình ảnh mới

        #listMedia
            ul
                each media in medias
                    li.media-item(data-id=media.id,data-url=media.url, data-name=media.name)
                        .thumb-image
                            img.rounded.float-start(alt=media.name,src=media.url)

block modals
    #mediaDetail.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog.modal-lg(role='document')
            .modal-content
                .modal-header
                    h4.modal-title Chi tiết hình ảnh
                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                        span(aria-hidden='true') &times;
                .modal-body
                    .media-detail-wrapper
                        .preview
                            .image
                                img(src="/uploads/payments-1622695092973.png" alt="bx-slider4-1622695363741.jpg")
                        .info
                            form(method="post",action="/admin/media/update")
                                p.url
                                    b.mr-2 Đường link hình ảnh:
                                    a(href="/uploads/bx-slider4-1622695363741.jpg" target="_blank") /uploads/bx-slider4-1622695363741.jpg
                                .name.form-group
                                    label(for='name') Tên hình ảnh
                                    input#name.form-control(name='name', type='text', placeholder='Tên hình ảnh')
                                .action
                                    button.btn.btn-dark.btn-sm.mr-2(type='button',data-dismiss='modal', aria-label='Close')
                                        i.fa.fa-long-arrow-left.mr-2
                                        | Quay lại
                                    a.d-inline-block.align-top.mr-2.delete-image-url(href='/admin/media/delete')
                                        button.btn.btn-danger.btn-sm(type='button')
                                            i.icon-trash.mr-2
                                            | Xóa hình ảnh
                                    button.btn.btn-primary.btn-sm(type='submit')
                                        i.fa.fa-save.mr-2
                                        | Lưu lại
                                input(type="hidden",name="id")


block head
    link(href='/admin/css/media.css', rel='stylesheet')

block script
    script(src='/admin/js/customs/media.js')





