extends ../_layout/default

block content
    if error
        .alert.alert-danger(role='alert') #{error}
    if success_message
        .alert.alert-success(role='alert') #{success_message}
    .animated.fadeIn
        form(action='',method='post',autocomplete="off")
            .card
                .card-header
                    h4.d-inline-block
                        i.fa.fa-edit
                        |  #{title}
                    .card-header-actions
                        a.card-header-action.d-inline-block.align-top.ml-3(href='/admin/product-category')
                            button.btn.btn-dark.btn-sm(type='button')
                                i.fa.fa-long-arrow-left.mr-2
                                | Quay lại
                        button.btn.btn-primary.btn-sm(type='submit')
                            i.fa.fa-save.mr-2
                            | Lưu lại
                .card-body
                    .row
                        if id
                            .form-group.col-sm-12
                                label(for='name') Tên danh mục
                                input#name.form-control(name='name', type='text', placeholder='Tên danh mục',value=detail ? detail.name : '',required='')
                            .form-group.col-sm-12
                                label(for='slug') Đường dẫn
                                input#slug.form-control(name='slug', type='text', placeholder='Đường dẫn',value=detail ? detail.slug : '',required='')
                            .form-group.col-sm-12
                                label(for='description') Mô tả
                                textarea#description.form-control(name='description', type='text', placeholder='Mô tả')=detail ? detail.description : ''
                        else
                            .form-group.col-sm-12
                                label(for='name') Tên danh mục
                                input#name.form-control(name='name', type='text', placeholder='Tên danh mục',value=bodyParams ? bodyParams.name : '',required='')
                            .form-group.col-sm-12
                                label(for='slug') Đường dẫn
                                input#slug.form-control.new-slug(name='slug', type='text', placeholder='Đường dẫn',value=bodyParams ? bodyParams.slug : '',required='')
                            .form-group.col-sm-12
                                label(for='description') Mô tả
                                textarea#description.form-control(name='description', type='text', placeholder='Mô tả')=bodyParams ? bodyParams.description : ''

block script
    script(src="/admin/js/customs/product-category.js")