include ../_mixins

doctype html
html
  head
    title= title
    include ../_partials/head
  body.js
    .preloader
      .preloader-inner
        .preloader-icon
          span
          span
    include ../_partials/header
    block content
    include ../_partials/footer
    block modals
    #confirmCart.modal.fade.show(tabindex='-1', role='dialog')
      .modal-dialog.modal-dialog-centered(role='document')
        .modal-content
          .modal-header
            button.close(type='button', data-dismiss='modal', aria-label='Close')
              span.ti-close(aria-hidden='true')
          .modal-body
            h3 Đã thêm vào giỏ hàng thành công
          .modal-footer
            a.btn.btn-secondary.color-white(href='#', data-dismiss='modal',aria-label='Close') Tiếp tục mua hàng
            a.btn.btn-primary.color-white(href='/gio-hang') Giỏ hàng
    include ../_partials/script
