extends ../_layout/default

block content
    if error
        .alert.alert-danger(role='alert') #{error}
    if success_message
        .alert.alert-success(role='alert') #{success_message}
    .animated.fadeIn
        form(action='',method='post',autocomplete="off")
            .card
                .card-header
                    h4.d-inline-block
                        i.fa.fa-edit
                        |  #{title}
                    .card-header-actions
                        a.card-header-action.d-inline-block.align-top.ml-3(href='/admin/roles')
                            button.btn.btn-dark.btn-sm(type='button')
                                i.fa.fa-long-arrow-left.mr-2
                                | Quay lại
                        button.btn.btn-primary.btn-sm(type='submit')
                            i.fa.fa-save.mr-2
                            | Lưu lại
                .card-body
                    .row
                        if id
                            + detailForm(item)
                        else
                            + detailForm(bodyParams)

mixin detailForm(item)
    .col-sm-12
        .form-group
            label(for='name') Tên
            input#name.form-control(name='name', type='text', placeholder='Tên',value=item ? item.name : '',required='')
        .card
            .card-header  Chọn quyền
            .card-body
                if roleModules
                    each roleModule,index in roleModules
                        .form-check
                            input.form-check-input(type='checkbox', value=1, id=`role_${index}` name=`actions[${roleModule.key}]` checked=item.actions && item.actions[roleModule.key] ? 'checked':null)
                            label.form-check-label(for=`role_${index}`) #{roleModule.name}
