.height-100{height: 100%}
.dropzoneTemplate {
  border: 2px dashed #0087F7;
  border-radius: 5px;
  background: white;
}

.dropzoneTemplate .dz-message {
  font-weight: 400;
}

.dropzoneTemplate .dz-message .note {
  font-size: 0.8em;
  font-weight: 200;
  display: block;
  margin-top: 1.4rem;
}
.first-column-table{
  width:45px
}
.last-column-table{
  width:105px
}

.modal.modal-select-media{
  overflow: hidden;
  padding: 0 !important;
}

.modal-select-media .modal-dialog{max-width: 100%;position: absolute;top: 30px;bottom: 30px;left: 50px;right: 50px;overflow: hidden;margin: 0;}
.modal-select-media .modal-dialog .modal-content{
  justify-content: space-between;
  height: 100%;
  overflow: hidden;
}
.modal-select-media .modal-dialog .header{}
.modal-select-media .modal-dialog .modal-body{
  position: absolute;
  top: 64px;
  left: 0;
  right: 0;
  bottom: 68px;
  overflow: hidden;
  padding: 0 20px;
}
.modal-select-media .modal-dialog .footer{}
.modal-select-media #info{
  border-left:1px solid #d7d7d7;
  height: 100%;
  overflow: auto;
  padding-top: 20px;
}
.modal-select-media .list-media{
  height: 100%;
  overflow: auto;
  padding-top: 20px;
  padding-bottom: 20px;
}
.modal-select-media .list-media ul{
  list-style: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.modal-select-media .list-media ul li{
  padding: 10px;
  width: 14.2%;
  margin: 0;
  color: #3c434a;
  position: relative;
  float: left;
}
.modal-select-media .list-media ul li.selected:before{content:"";position: absolute;top: 10px;left: 10px;right: 10px;bottom: 10px;background: rgba(32, 168, 216, 0.5); z-index: 9;}
.modal-select-media .list-media ul li.selected:after{content:"";position: absolute;top: 50%;left: 50%;transform: rotate(-135deg);display: block;z-index: 10;border-top: 3px solid red;border-left: 3px solid red;width: 20px;height: 40px;margin-left: -10px;margin-top: -20px;}
.modal-select-media .list-media ul li .thumb-image{
  position: relative;
  box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
  background: #f0f0f1;
  cursor: pointer;
  overflow: hidden;
}
.modal-select-media .list-media ul li .thumb-image:after{
  content: "";
  padding-top: 100%;
  display: block;
}
.modal-select-media .list-media ul li .thumb-image img{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 100%;
}
.list-media ul li .dz-progress{
  position: absolute;
  left: 15px;
  right: 15px;
  top: 50%;
  transform: translate(0, -50%);
  height: 10px;
  overflow: hidden;
  background: rgb(68, 77, 88);
  border-radius: 6px;
}
.list-media ul li .overlayUpload{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(188, 197, 208,0.6);
}
.list-media ul li .dz-progress .dz-upload{
  position: absolute;
  left: 0;
  background: #20a8d8;
  display: block;
  top: 0;
  bottom: 0;
  transition: all 1s;
  opacity: 1;
}
.list-media ul li.dz-success .dz-progress,.list-media ul li .overlayUpload{opacity: 0; visibility: hidden}

.media-btn-controller{}
.media-btn-controller .preview{
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
}
.media-btn-controller .preview p{
  background: #999;
  color: #fff;
  text-align: center;
  display: flex;
  align-content: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin: 0;
  padding: 50px 15px;
}
.media-btn-controller .preview p.hide{display: none}
.media-btn-controller .actions.hide{display: none}
.media-btn-controller .preview img{max-width: 100%}
.media-btn-multi .gallery-list{
  display: flex;
  flex-wrap: wrap;
  margin-left: -10px;
  margin-right: -10px;
  margin-top: -10px;
}
.gallery-list .media-btn-controller{
  width: 33.3333%;
  padding: 10px;
  position: relative;
}
.gallery-list .media-btn-controller .action{
  position: absolute;
  top: 2px;
  right: 10px;
}
.gallery-list .media-btn-controller .delete-image{
  padding: 0;
  font-size: 2rem;
  background: transparent;
  border: transparent;
  color: #f86c6b;
  height: 20px;
  width: 20px;
  text-align: center;
  line-height: 0;
}
.media-btn-multi .add-image{
  margin-top: 15px;
}

.admin-list-category{
  max-height: 150px;
  overflow: auto;
  position: relative
}
.sidebar-content-admin{
  border-left: 1px solid #d7d7d7;
}
.sidebar-content-admin > .form-group{
  background: #f1f3f8;
  padding: 0 15px 15px;
  border: 1px solid #d7d7d7;
}
.sidebar-content-admin > .form-group > label{
  background: #444d58;
  display: block;
  padding: 5px 10px;
  color: #fff;
  margin-left: -15px;
  margin-right: -15px;
}

.attribute-values .line-item{
  padding: 7px 0;
  margin-bottom: 7px;
  border-bottom: 1px solid #d7d7d7;
}
.attribute-values .line-item span{
  margin-right: 10px;
}
.attribute-values .line-item button{
  padding: 0 5px;
  margin: 0;
  border: 1px solid #f86c6b;
  background: transparent;
  color: #f86c6b;
  font-size: 11px;
}

.product-detail .add-attribute{
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #d7d7d7;
}
.product-detail .list-attribute{}
.product-detail .list-attribute .item{
  position: relative;
  padding: 10px 10px 10px 40px;
  border-bottom: 1px dotted #d7d7d7;
}
.product-detail .delete-product-attribute{
  position: absolute;
  top: 17px;
  left: 0;
  padding-right: 7px;
  border-right: 1px solid #d7d7d7;
  cursor: pointer;
}
.product-detail .delete-product-attribute button{
  background: transparent;
  border: 0;
  display: block;
  font-size: 15px;
  padding: 5px;
  color: #f86c6b;
}

#select-attribute option:disabled {
  color: #d7d7d7;
}
td.image{width: 100px}
td.image img{max-width: 100%}