#listMedia{
    margin-top: 20px;
    padding-top: 20px;
    border-top: 1px solid #ddd;
}
#listMedia ul{
    list-style: none;
    padding: 0;
    margin: 0;
    overflow: hidden;
}
#listMedia ul li{
    padding: 10px;
    width: 9.09%;
    margin: 0;
    color: #3c434a;
    position: relative;
    float: left;
}
#listMedia ul li .thumb-image{
    position: relative;
    box-shadow: inset 0 0 15px rgba(0, 0, 0, 0.1), inset 0 0 0 1px rgba(0, 0, 0, 0.05);
    background: #f0f0f1;
    cursor: pointer;
    overflow: hidden;
}
#listMedia ul li .thumb-image:after{
    content: "";
    padding-top: 100%;
    display: block;
}

#listMedia ul li img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
}
#listMedia ul li .dz-progress{
    position: absolute;
    left: 15px;
    right: 15px;
    top: 50%;
    transform: translate(0, -50%);
    height: 10px;
    overflow: hidden;
    background: rgb(68, 77, 88);
    border-radius: 6px;
}
#listMedia ul li .overlayUpload{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(188, 197, 208,0.6);
}
#listMedia ul li .dz-progress .dz-upload{
    position: absolute;
    left: 0;
    background: #20a8d8;
    display: block;
    top: 0;
    bottom: 0;
    transition: all 0.5s;
}
#listMedia ul li.dz-success .dz-progress,#listMedia ul li .overlayUpload{display: none}

#mediaDetail{}
@media screen and (min-width: 1024px ){
    #mediaDetail .modal-dialog{max-width: 1000px}
}
#mediaDetail .modal-dialog .modal-body{padding:0}
#mediaDetail .modal-dialog .media-detail-wrapper{
    display: flex;
}
#mediaDetail .modal-dialog .media-detail-wrapper .preview{
    width: 70%;
    max-width: 70%;
    padding: 20px;
    display: flex;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: center;
}
#mediaDetail .modal-dialog .media-detail-wrapper .image{}
#mediaDetail .modal-dialog .media-detail-wrapper .image img{
    max-width: 100%;
}
#mediaDetail .modal-dialog .media-detail-wrapper .info{
    padding: 20px;
    border-left: 1px solid #d7d7d7;
}
#mediaDetail .modal-dialog .media-detail-wrapper .form{}