ol.breadcrumb
    each breadcrumb in breadcrumbs
        if breadcrumb.url
            li.breadcrumb-item
                a(href=`${breadcrumb.url}`) #{breadcrumb.name}
        else
            li.breadcrumb-item.active #{breadcrumb.name}
