//Default css and meta
meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')

<!-- Icons-->
link(href='/admin/vendors/@coreui/icons/css/coreui-icons.min.css', rel='stylesheet')
link(href='/admin/vendors/flag-icon-css/css/flag-icon.min.css', rel='stylesheet')
link(href='/admin/vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
link(href='/admin/vendors/simple-line-icons/css/simple-line-icons.css', rel='stylesheet')
<!-- Main styles for this application-->
link(href='/admin/css/dropzone.min.css', rel='stylesheet')
link(href='/admin/css/basic.min.css', rel='stylesheet')
link(href='/admin/css/editor-media.css', rel='stylesheet')
link(href='/admin/css/style.css', rel='stylesheet')
script(src='/admin/vendors/jquery/js/jquery.min.js')
//Block head
block head

link(href='/admin/css/admin.css', rel='stylesheet')