header.app-header.navbar
    button.navbar-toggler.sidebar-toggler.d-lg-none.mr-auto(type='button', data-toggle='sidebar-show')
        span.navbar-toggler-icon
    a.navbar-brand(href='#')
        img.navbar-brand-full(src='/admin/img/brand/logo.png', width='89', height='25', alt='CoreUI Logo')
        img.navbar-brand-minimized(src='/admin/img/brand/sygnet.svg', width='30', height='30', alt='CoreUI Logo')
    button.navbar-toggler.sidebar-toggler.d-md-down-none(type='button', data-toggle='sidebar-lg-show')
        span.navbar-toggler-icon
    ul.nav.navbar-nav.ml-auto.mr-3
        li.nav-item.dropdown
            a.nav-link.nav-link(data-toggle='dropdown', href='#', role='button', aria-haspopup='true', aria-expanded='false')
                i.icon-user.font-3xl
            .dropdown-menu.dropdown-menu-right
                a.dropdown-item(href=userLogged ? `/admin/users/${userLogged.id}`:'/admin/logout')
                    i.fa.fa-user
                    |  Tài khoản
                a.dropdown-item(href='/admin/logout')
                    i.fa.fa-lock
                    |  Đăng xuất
        li.nav-item.dropdown
            a.nav-link.nav-link(href='/', role='button', data-toggle='tooltip', data-placement='top', title='Xem website', target="_blank")
                i.icon-globe.font-3xl
        li.nav-item.dropdown
            a.nav-link.nav-link(href='/admin/logout', role='button', data-toggle='tooltip', data-placement='top', title='Đăng xuất')
                i.icon-logout.font-3xl


