#modal-editor-select-media.modal-select-media.modal.modal-editor-media.fade(tabindex='-1', role='dialog', aria-hidden='true')
    .modal-dialog.modal-lg(role='document')
        .modal-content
            .modal-header
                h4.modal-title Chọn hình ảnh
                button.close(type='button', data-dismiss='modal', aria-label='Close')
                    span(aria-hidden='true') &times;
            .modal-body
                .row.height-100
                    #listMedia.list-media.col-sm-9
                        ul
                    #info.col-sm-3
                        h5 Tải hình ảnh mới
                        hr
                        #fileUploadForm.dropzoneTemplate
                            .dz-message.needsclick
                                button.dz-button(type='button') Drop files here or click to upload.
                                br
                                span.note.needsclick Tải lên hình ảnh mới
            .modal-footer
                button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy
                button.btn.btn-primary.select-image-final(type='button') Chọn hình ảnh