//Default script
script(type="text/html",id="preview-template-container")
        li.media-item(data-id="",data-url="", data-name="")
            .thumb-image
                img.rounded.float-start(data-dz-thumbnail)
                .overlayUpload
                .dz-progress
                    span.dz-upload(data-dz-uploadprogress='')
script(src='/admin/vendors/popper.js/js/popper.min.js')
script(src='/admin/vendors/bootstrap/js/bootstrap.min.js')
script(src='/admin/vendors/pace-progress/js/pace.min.js')
script(src='/admin/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js')
script(src='/admin/vendors/@coreui/coreui-pro/js/coreui.min.js')
script(src='/tinymce/tinymce.min.js')
script(src='/admin/js/jquery.mask.min.js')
script(src='/javascripts/my-tinymce-config.js')
script(src='/admin/js/dropzone.js')
script(src='/admin/js/customs/main.js')
script(src='/admin/js/customs/admin.js')

block script
