.sidebar
    nav.sidebar-nav
        ul.nav
            li.nav-item
                a.nav-link(href='/admin')
                    i.nav-icon.icon-speedometer
                    |  Dashboard
            if(userLogged.role.actions && (userLogged.role.actions.user || userLogged.role.actions.role))
                li.nav-item.nav-dropdown
                    a.nav-link.nav-dropdown-toggle(href='#')
                        i.nav-icon.icon-people
                        |  Quản lý tài khoản
                    ul.nav-dropdown-items
                        if userLogged.role.actions.user
                            li.nav-item
                                a.nav-link(href='/admin/users')
                                    i.nav-icon.icon-user
                                    |  Tài khoản
                        if userLogged.role.actions.role
                            li.nav-item
                                a.nav-link(href='/admin/roles')
                                    i.nav-icon.icon-lock
                                    |  Phân quyền
            if(userLogged.role.actions && (userLogged.role.actions.product || userLogged.role.actions.product_category || userLogged.role.actions.order || userLogged.role.actions.attribute))
                li.nav-item.nav-dropdown
                    a.nav-link.nav-dropdown-toggle(href='#')
                        i.nav-icon.icon-drawer
                        |  Quản lý sản phẩm
                    ul.nav-dropdown-items
                        if userLogged.role.actions.product_category
                            li.nav-item
                                a.nav-link(href='/admin/product-category')
                                    i.nav-icon.icon-list
                                    |  Danh mục sản phẩm
                        if userLogged.role.actions.product
                            li.nav-item
                                a.nav-link(href='/admin/products')
                                    i.nav-icon.fa.fa-female
                                    |  Sản phẩm
                        if userLogged.role.actions.order
                            li.nav-item
                                a.nav-link(href='/admin/orders')
                                    i.nav-icon.icon-basket
                                    |  Đơn Hàng
                        if userLogged.role.actions.attribute
                            li.nav-item
                                a.nav-link(href='/admin/attributes')
                                    i.nav-icon.icon-paper-clip
                                    |  Thuộc tính
            if(userLogged.role.actions && userLogged.role.actions.blog)
                li.nav-item.nav-dropdown
                    a.nav-link(href='/admin/blogs')
                        i.nav-icon.icon-book-open
                        |  Quản lý bài viết
            if(userLogged.role.actions && userLogged.role.actions.media)
                li.nav-item.nav-dropdown
                    a.nav-link(href='/admin/media')
                        i.nav-icon.icon-picture
                        |  Quản lý hình ảnh
            if(userLogged.role.actions && userLogged.role.actions.comment)
                li.nav-item.nav-dropdown
                    a.nav-link(href='/admin/comments')
                        i.nav-icon.cui-comment-square
                        |  Quản lý bình luận
            if(userLogged.role.actions && userLogged.role.actions.setting)
                li.nav-item.nav-dropdown
                    a.nav-link(href='/admin/settings')
                        i.nav-icon.icon-equalizer
                        |  Cài đặt
    button.sidebar-minimizer.brand-minimizer(type='button')
