extends ../_layout/default

block content
    if error
        .alert.alert-danger(role='alert') #{error}
    if success_message
        .alert.alert-success(role='alert') #{success_message}
    .animated.fadeIn
        form(action='',method='post',autocomplete="off")
            .card
                .card-header
                    h4.d-inline-block
                        i.fa.fa-edit
                        |  #{title}
                    .card-header-actions
                        a.card-header-action.d-inline-block.align-top.ml-3(href='/admin/attributes')
                            button.btn.btn-dark.btn-sm(type='button')
                                i.fa.fa-long-arrow-left.mr-2
                                | Quay lại
                        button.btn.btn-primary.btn-sm(type='submit')
                            i.fa.fa-save.mr-2
                            | Lưu lại
                .card-body
                    .row
                        if id
                            + detailForm(item)
                            .col-sm-12
                                .card
                                    .card-header
                                        h6.d-inline-block Giá trị thuộc tính
                                        .card-header-actions
                                            button.btn.btn-primary.btn-sm(type="button" data-toggle="modal", data-target="#addLineItem")
                                                i.fa.fa-plus.mr-2
                                                | Thêm giá trị
                                    .card-body
                                        .attribute-values
                                            each lineItem in item.items
                                                .line-item
                                                    span #{lineItem.name}
                                                    button.delete-line-item(type="button" data-id=lineItem.id) Xóa

                        else
                            + detailForm(bodyParams)

mixin detailForm(item)
    .col-sm-12
        .form-group
            label(for='name') Tên thuộc tính
            input#name.form-control(name='name', type='text', placeholder='Tên thuộc tính',value=item ? item.name : '',required='')

block modals
    #addLineItem.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                form.form-horizontal(method="post",action=`/admin/attributes/${id}/add-value`)
                    .modal-header
                        h4.modal-title Thêm giá trị
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        .form-group.row
                            label.col-md-3.col-form-label(for='name') Giá trị
                            .col-md-9
                                input#name.form-control(type='text', name='name', placeholder='')
                        .form-group.row
                            label.col-md-3.col-form-label(for='background') Background
                            .col-md-9
                                input#background.form-control(type='color', name='background', placeholder='')

                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy
                        button.btn.btn-primary(type='submit') Thêm mới
