include ../_mixins
doctype html
html
    head
        title= title
        include ../_partials/head
    body.app.header-fixed.sidebar-fixed.aside-menu-fixed.sidebar-lg-show
        include ../_partials/header
        div.app-body
            include ../_partials/sidebar
            main.main
                include ../_partials/breadcrumb
                div.container-fluid
                    div#ui-view
                        block content
        include ../_partials/footer
        block modals
        if(!dont_load_media_editor)
            include ../_partials/media-editor
        include ../_partials/script
