doctype
html
    head
        meta(charset='utf-8')
        meta(http-equiv='X-UA-Compatible', content='IE=edge')
        meta(name='viewport', content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
        title= title
        link(href='/admin/vendors/@coreui/icons/css/coreui-icons.min.css', rel='stylesheet')
        link(href='/admin/vendors/flag-icon-css/css/flag-icon.min.css', rel='stylesheet')
        link(href='/admin/vendors/font-awesome/css/font-awesome.min.css', rel='stylesheet')
        link(href='/admin/vendors/simple-line-icons/css/simple-line-icons.css', rel='stylesheet')
        // Main styles for this application
        link(href='/admin/css/style.css', rel='stylesheet')
        link(href='/admin/vendors/pace-progress/css/pace.min.css', rel='stylesheet')
    body.app.flex-row.align-items-center
        block content
        script(src='/admin/vendors/jquery/js/jquery.min.js')
        script(src='/admin/vendors/popper.js/js/popper.min.js')
        script(src='/admin/vendors/bootstrap/js/bootstrap.min.js')
        script(src='/admin/vendors/pace-progress/js/pace.min.js')
        script(src='/admin/vendors/perfect-scrollbar/js/perfect-scrollbar.min.js')
        script(src='/admin/vendors/@coreui/coreui-pro/js/coreui.min.js')

