extends ../_layout/default


block content
    if error
        .alert.alert-danger(role='alert') #{error}
    if success_message
        .alert.alert-success(role='alert') #{success_message}
    .animated.fadeIn.product-detail
        form(action='',method='post',autocomplete="off")
            .card
                .card-header
                    h4.d-inline-block
                        i.fa.fa-edit
                        |  #{title}
                    .card-header-actions
                        a.card-header-action.d-inline-block.align-top.ml-3(href='/admin/orders')
                            button.btn.btn-dark.btn-sm(type='button')
                                i.fa.fa-long-arrow-left.mr-2
                                | Quay lại
                        button.btn.btn-primary.btn-sm(type='submit')
                            i.fa.fa-save.mr-2
                            | Lưu lại
                .card-body
                    .row
                        if id
                            +detailForm(item)
                        else
                            +detailForm(bodyParams)

mixin detailForm(item)
    .col-sm-9
        if(item.user)
            .card
                .card-header  Thông tin người mua
                .card-body
                    .row
                        .col-4
                            .form-group
                                label Họ và tên
                                input.form-control(type='text', value=item.user.first_name + ' ' + item.user.last_name)
                        .col-4
                            .form-group
                                label Số điện thoại
                                input.form-control(type='text', value=item.user.phone_number)
                        .col-4
                            .form-group
                                label Địa chỉ
                                input.form-control(type='text', value=item.user.address)
        .card
            .card-header  Thông tin người nhận
            .card-body
                .row
                    .col-4
                        .form-group
                            label Họ và tên
                            input.form-control(type='text', value=item.first_name + ' ' + item.last_name)
                    .col-4
                        .form-group
                            label Số điện thoại
                            input.form-control(type='text', value=item.phone_number)
                    .col-4
                        .form-group
                            label Địa chỉ
                            input.form-control(type='text', value=item.address)
        .card
            .card-header  Danh sách sản phẩm
            .card-body
                table.table.table-striped.table-bordered.table-responsive-sm
                    thead
                        tr
                            th
                            th Tên sản phẩm
                            th.text-center Giá
                            th.text-center Số lượng
                            th.text-center Tổng tiền

                    tbody
                        each product,index in item.items
                            tr.cart-item
                                td.image(data-title='No')
                                    if(product.product_image)
                                        img(src=product.product_image, alt='#')
                                td.product-des(data-title='Description')
                                    p.product-name
                                        a(href=`/san-pham/${product.product_slug}`) #{product.product_name}
                                    if(product.attributes)
                                        each val, key in product.attributes
                                            p.m-0.p-0.product-des  #{key} : #{val}
                                td.price(data-title='Price')
                                    span.price-format #{product.product_price}
                                    span.price-currency đ
                                td.qty(data-title='Qty')
                                    p.m-0.p-0 #{product.quantity}
                                td.total-amount(data-title='Total')
                                    span.price-format #{parseInt(product.product_price) * parseInt(product.quantity)}
                                    span.price-currency đ


    .col-sm-3.sidebar-content-admin
        .form-group
            label(for='status') Trạng thái
            select#status.form-control(name='status',value=item ? item.status : '')
                option(value="Publish",selected=item && item.status == 'Chờ xác nhận') Chờ xác nhận
                option(value="Đã xác nhận",selected=item && item.status == 'Đã xác nhận') Đã xác nhận
                option(value="Hủy",selected=item && item.status == 'Hủy') Hủy
                option(value="Đang gửi hàng",selected=item && item.status == 'Đang gửi hàng') Đang gửi hàng
                option(value="Hoàn thành",selected=item && item.status == 'Hoàn thành') Hoàn thành
        .form-group
            label(for='sku') Mã đơn hàng
            input#sku.form-control(type='text', value=item ? item.order_number:'', readonly)
        .form-group
            label(for='price') Phí vận chuyển
            input#price.form-control.money(type='text',  value=item ? item.ship_price:'' readonly)
        .form-group
            label(for='price') Giá trị đơn hàng
            input#price.form-control.money(type='text',  value=item ? item.total_price:'' readonly)
