extends ../_layout/default
block script

block content
    if error
        .alert.alert-danger(role='alert') #{error}
    .animated.fadeIn
        form(action="/admin/orders/delete", method="GET")
            .card
                .card-header
                    h4.d-inline-block
                        i.fa.fa-edit
                        |  Danh sách đơn hàng
                    .card-header-actions
                        button.btn.d-none.btn-danger.btn-sm.btn-delete-record-in-table.mr-2(type='submit')
                            i.icons.cui-magnifying-glass.mr-1
                            | Xóa
                        button.btn.d-inline-block.btn-primary.btn-sm(type='button', data-toggle="modal", data-target="#filterTable")
                            i.icons.cui-magnifying-glass.mr-1
                            | Tìm kiếm
                .card-body
                    table.table.table-striped.table-bordered.table-responsive-sm
                        thead
                            tr
                                th.first-column-table
                                    .form-check.checkbox
                                        input#checkallTable.form-check-input(type='checkbox', value="")
                                        label.form-check-label(for='checkallTable')
                                th Ngày đặt
                                th Mã Đơn hàng
                                th Người đặt
                                th SĐT người mua
                                th Người nhận
                                th SĐT người nhận
                                th Tổng giá trị
                                th Trạng thái
                                th.last-column-table Hành động

                        tbody
                            each item in items
                                tr
                                    td
                                        .form-check.checkbox
                                            input.checkallTable.form-check-input(type='checkbox', value=item.id, name="ids[]")
                                            label.form-check-label(for='checkall')
                                    td #{item.createdAt}
                                    td #{item.order_number}
                                    td
                                        if(item.user)
                                            | #{item.user.first_name} #{item.user.last_name}
                                    td
                                        if(item.user)
                                            | #{item.user.phone_number}
                                    td #{item.first_name} #{item.last_name}
                                    td #{item.user.phone_number}
                                    td
                                        span.amount
                                            span.price-format #{item.total_price}
                                            span đ
                                    td #{item.status}
                                    td
                                        a.btn.btn-info(href=`/admin/orders/${item.id}`)
                                            i.fa.fa-edit
                                        a.btn.btn-danger(href=`/admin/orders/delete?id=${item.id}`)
                                            i.fa.fa-trash-o
                    if pages > 1
                        ul.pagination
                            - var page = 0
                            - var current_page = parseFloat(queryInUrl.page) || 1
                            li.page-item(class=current_page==1 ? "disabled":null)
                                a.page-link(href=pageLinks[current_page - 2]) Prev
                            while page < pages
                                - var index = page
                                - page++
                                li.page-item(class=current_page == page || (!current_page && !page) ? "active":null)
                                    a.page-link(href=pageLinks[index]) #{page}
                            li.page-item(class=current_page==pages ? "disabled":null)
                                a.page-link(href=pageLinks[current_page]) Next
block modals
    #filterTable.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                form.form-horizontal(method="get",action="")
                    .modal-header
                        h4.modal-title Tìm kiếm
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        .form-group.row
                            label.col-md-3.col-form-label(for='order_number') Mã đơn hàng
                            .col-md-9
                                input#order_number.form-control(type='text', name='order_number', placeholder='', value=queryInUrl ? queryInUrl.order_number:null)
                        .form-group.row
                            label.col-md-3.col-form-label(for='sdt1') SĐT người mua
                            .col-md-9
                                input#sdt1.form-control(type='text', name='phone_number_1', placeholder='', value=queryInUrl ? queryInUrl.phone_number_1:null)
                        .form-group.row
                            label.col-md-3.col-form-label(for='sdt2') SĐT người nhận
                            .col-md-9
                                input#sdt2.form-control(type='text', name='phone_number_2', placeholder='', value=queryInUrl ? queryInUrl.phone_number_2:null)
                        .form-group.row
                            label.col-md-3.col-form-label(for='sdt2') Trạng thái
                            .col-md-9
                                select#status.form-control(name='status')
                                    option(value="") Chọn trạng thái
                                    option(value="Publish",selected=queryInUrl && queryInUrl.status == 'Chờ xác nhận') Chờ xác nhận
                                    option(value="Đã xác nhận",selected=queryInUrl && queryInUrl.status == 'Đã xác nhận') Đã xác nhận
                                    option(value="Hủy",selected=queryInUrl && queryInUrl.status == 'Hủy') Hủy
                                    option(value="Đang gửi hàng",selected=item && item.status == 'Đang gửi hàng') Đang gửi hàng
                                    option(value="Hoàn thành",selected=queryInUrl && queryInUrl.status == 'Hoàn thành') Hoàn thành
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy
                        button.btn.btn-primary(type='submit') Tìm kiếm

