extends ../_layout/default

block content
    if error
        .alert.alert-danger(role='alert') #{error}
    if success_message
        .alert.alert-success(role='alert') #{success_message}
    .animated.fadeIn
        form(action='',method='post', autocomplete="off")
            .card
                .card-header
                    h4.d-inline-block
                        i.fa.fa-edit
                        |  #{title}
                    .card-header-actions
                        a.card-header-action.d-inline-block.align-top.ml-3(href='/admin/users')
                            button.btn.btn-dark.btn-sm(type='button')
                                i.fa.fa-long-arrow-left.mr-2
                                | Quay lại
                        button.btn.btn-primary.btn-sm(type='submit')
                            i.fa.fa-save.mr-2
                            | Lưu lại
                .card-body
                    .row
                        if userId
                            + detailForm(userDetail)
                        else
                            + detailForm(bodyParams)


mixin detailForm(item)
    if userId
        .form-group.col-sm-4
            label(for='username') Tên tài khoản
            input#username.form-control(type='text', placeholder='Tên tài khoản',required='', value=item ? item.username:'', readonly)
    else
        .form-group.col-sm-4
            label(for='username') Tên tài khoản
            input#username.form-control(name='username', type='text', placeholder='Tên tài khoản',required='', value=item ? item.username:'')
    .form-group.col-sm-4
        label(for='password') Mật khẩu
        input#password.form-control(name='password', type='password', placeholder='Mật khẩu',required=userId ? false : true)
    .form-group.col-sm-4
        label(for='repassword') Nhập lại mật khẩu
        input#repassword.form-control(name='repassword', type='password', placeholder='Nhập lại mật khẩu',required=userId ? false : true)
    .form-group.col-sm-4
        label(for='firstname') Họ và tên đệm
        input#firstname.form-control(name='first_name', type='text', placeholder='Họ & tên đệm',value=item ? item.first_name : '',required='')
    .form-group.col-sm-4
        label(for='lastname') Tên
        input#lastname.form-control(name='last_name', type='text', placeholder='Tên',value=item ? item.last_name : '',required='')
    .form-group.col-sm-4
        label(for='status') Trạng thái
        select#status.form-control(name='status',value=item ? item.status : '')
            option(selected= item.status == 'Active') Active
            option(selected= item.status == 'Inactive') Inactive
            option(selected= item.status == 'Block') Block
    .form-group.col-sm-4
        label(for='status') Quyền
        select#status.form-control(name='role_id',value=item ? item.status : '')
            option(value="") --- Chọn Quyền ---
            if (roles)
                each role in roles
                    option(selected= item.role_id == role.id value=role.id) #{role.name}
    .form-group.col-sm-4
        label(for='address') Địa chỉ
        input#address.form-control(name='address', type='text', placeholder='Địa chỉ',value=item ? item.address : '')
    .form-group.col-sm-4
        label(for='phone') Số điện thoại
        input#phone.form-control(name='phone_number', type='text', placeholder='Số điện thoại',value=item ? item.phone_number:'')
    .form-group.col-sm-4
        label
        .form-check.checkbox
            input#is_admin.form-check-input(type='checkbox', name="is_admin" value="true" checked=item && item.is_admin ? true:false)
            label.form-check-label(for='is_admin') Cho phép đăng nhập admin



