extends ../_layout/default
block script
    script(src='/admin/js/customs/user.js')
block content
    if error
        .alert.alert-danger(role='alert') #{error}
    .animated.fadeIn
        form(action="/admin/users/delete", method="GET")
            .card
                .card-header
                    h4.d-inline-block
                        i.fa.fa-edit
                        |  Danh sách tài khoản
                    a.card-header-action.d-inline-block.align-top.ml-3(href='/admin/users/0')
                        button.btn.btn-block.btn-primary.btn-sm(type='button') Tạo mới
                    .card-header-actions
                        button.btn.d-none.btn-danger.btn-sm.btn-delete-record-in-table.mr-2(type='submit')
                            i.icons.cui-magnifying-glass.mr-1
                            | Xóa
                        button.btn.d-inline-block.btn-primary.btn-sm(type='button', data-toggle="modal", data-target="#filterUser")
                            i.icons.cui-magnifying-glass.mr-1
                            | Tìm kiếm
                .card-body
                    table.table.table-striped.table-bordered.table-responsive-sm
                        thead
                            tr
                                th.first-column-table
                                    .form-check.checkbox
                                        input#checkallTable.form-check-input(type='checkbox', value="")
                                        label.form-check-label(for='checkallTable')
                                th Họ tên
                                th Tên tài khoản
                                th Ngày đăng ký
                                th Địa chỉ
                                th Số điện thoại
                                th Trạng thái
                                th.last-column-table Hành động
                        tbody
                            each user in users
                                tr
                                    td
                                        .form-check.checkbox
                                            input.checkallTable.form-check-input(type='checkbox', value=user.id, name="ids[]")
                                            label.form-check-label(for='checkall')
                                    td #{user.full_name}
                                    td #{user.username}
                                    td #{user.createdAt}
                                    td #{user.address}
                                    td #{user.phone_number}
                                    td
                                        if user.status === 'Block'
                                            span.badge.badge-dark Bị Chặn
                                        else if user.status === 'Inactive'
                                            span.badge.badge-danger Không hoạt động
                                        else
                                            span.badge.badge-success Đang hoạt động
                                    td
                                        a.btn.btn-info(href=`/admin/users/${user.id}`)
                                            i.fa.fa-edit
                                        a.btn.btn-danger(href=`/admin/users/delete?id=${user.id}`)
                                            i.fa.fa-trash-o
                    if pages > 1
                        ul.pagination
                            - var page = 0
                            - var current_page = parseFloat(queryInUrl.page) || 1
                            li.page-item(class=current_page==1 ? "disabled":null)
                                a.page-link(href=pageLinks[current_page - 2]) Prev
                            while page < pages
                                - var index = page
                                - page++
                                li.page-item(class=current_page == page || (!current_page && !page) ? "active":null)
                                    a.page-link(href=pageLinks[index]) #{page}
                            li.page-item(class=current_page==pages ? "disabled":null)
                                a.page-link(href=pageLinks[current_page]) Next
block modals
    #filterUser.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                form.form-horizontal(method="get",action="")
                    .modal-header
                        h4.modal-title Tìm kiếm tài khoản
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        .form-group.row
                            label.col-md-3.col-form-label(for='fusername') Tên tài khoản
                            .col-md-9
                                input#fusername.form-control(type='text', name='username', placeholder='', value=queryInUrl ? queryInUrl.username:null)
                        .form-group.row
                            label.col-md-3.col-form-label(for='ffull_name') Họ và tên
                            .col-md-9
                                input#ffull_name.form-control(type='text', name='full_name', placeholder='',value=queryInUrl ? queryInUrl.full_name:null)
                        .form-group.row
                            label.col-md-3.col-form-label(for='faddress') Địa chỉ
                            .col-md-9
                                input#faddress.form-control(type='text', name='address', placeholder='',value=queryInUrl ? queryInUrl.address:null)
                        .form-group.row
                            label.col-md-3.col-form-label(for='fphone_number') Số điện thoại
                            .col-md-9
                                input#fphone_number.form-control(type='text', name='phone_number', placeholder='',value=queryInUrl ? queryInUrl.phone_number:null)
                        .form-group.row
                            label.col-md-3.col-form-label(for='fstatus') Trạng thái
                            .col-md-9
                                select#fstatus.form-control(name='status',value=queryInUrl ? queryInUrl.status:null)
                                    option(value='') Please select
                                    option Active
                                    option Inactive
                                    option Block

                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy
                        button.btn.btn-primary(type='submit') Tìm kiếm

