footer.footer
  // Footer Top
  .footer-top.section
    .container
      .row
        .col-lg-5.col-md-6.col-12
          // Single Widget
          .single-footer.about
            .logo
              a(href='/')
                img(src='/template/default/images/logo2.png', alt='#')
            p.text
              | Eshop luôn tận tâm với khách hàng, luôn tận tụy với sản phẩm.
            p.call
              | Tổng đài 24/7
              span
                a(href='tel:0349996918') +84 34999 6918
          // End Single Widget
        .col-lg-2.col-md-6.col-12
          // Single Widget
          .single-footer.links
            h4 Thông tin
            ul
              li
                a(href='#') Giới thiệu
              li
                a(href='#') Faq
              li
                a(href='#') Terms &amp; Conditions
              li
                a(href='#') Contact Us
              li
                a(href='#') Help
          // End Single Widget
        .col-lg-2.col-md-6.col-12
          // Single Widget
          .single-footer.links
            h4 Customer Service
            ul
              li
                a(href='#') Payment Methods
              li
                a(href='#') Money-back
              li
                a(href='#') Returns
              li
                a(href='#') Shipping
              li
                a(href='#') Privacy Policy
          // End Single Widget
        .col-lg-3.col-md-6.col-12
          // Single Widget
          .single-footer.social
            h4 Thông tin liên hệ
            // Single Widget
            .contact
              ul
                li Số 121 Đông Các, Phường Ô Chợ Dừa, Quận Đống Đa, Tp.Hà Nội
                li Số 65 Hồng Mai, Phường Bạch Mai, Quận Hai Bà Trưng, Tp.Hà Nội
                li info@eshop.com
                li +84 3499 6918
            // End Single Widget
            ul
              li
                a(href='#')
                  i.ti-facebook
              li
                a(href='#')
                  i.ti-twitter
              li
                a(href='#')
                  i.ti-flickr
              li
                a(href='#')
                  i.ti-instagram
          // End Single Widget
  // End Footer Top
  .copyright
    .container
      .inner
        .row
          .col-lg-6.col-12
            .left
              p
                | Copyright &copy; 2020
                a(href='http://www.wpthemesgrid.com', target='_blank') Wpthemesgrid
                |   -  All Rights Reserved.
          .col-lg-6.col-12
            .right
              img(src='/template/default/images/payments.png', alt='#')
