meta(charset='utf-8')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='copyright', content='')
meta(http-equiv='X-UA-Compatible', content='IE=edge')
meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
title=title
link(rel='icon', type='/template/default/image/png', href='/template/default/images/favicon.png')
link(rel='preconnect', href='https://fonts.gstatic.com')
link(href='https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap', rel='stylesheet')
link(rel='stylesheet', href='/template/default/css/bootstrap.css')
link(rel='stylesheet', href='/template/default/css/magnific-popup.min.css')
link(rel='stylesheet', href='/template/default/css/font-awesome.css')
link(rel='stylesheet', href='/template/default/css/jquery.fancybox.min.css')
link(rel='stylesheet', href='/template/default/css/themify-icons.css')
link(rel='stylesheet', href='/template/default/css/jquery-ui.css')
link(rel='stylesheet', href='/template/default/css/niceselect.css')
link(rel='stylesheet', href='/template/default/css/animate.css')
link(rel='stylesheet', href='/template/default/css/flex-slider.min.css')
link(rel='stylesheet', href='/template/default/css/owl-carousel.css')
link(rel='stylesheet', href='/template/default/slick/slick.css')
link(rel='stylesheet', href='/template/default/css/slicknav.min.css')
link(rel='stylesheet', href='/template/default/css/reset.css')
link(rel='stylesheet', href='/template/default/css/style.css')
link(rel='stylesheet', href='/template/default/css/responsive.css')
link(rel='stylesheet', href='/template/default/css/color1.css')
block head