header.header.shop
  // Topbar
  .topbar
    .container
      .row
        .col-lg-5.col-md-12.col-12
          // Top Left
          .top-left
            ul.list-main
              li
                i.ti-headphone-alt
                |  +0349996918
              li
                i.ti-email
                |  Eshop@gmail.com
          // / End Top Left
        .col-lg-7.col-md-12.col-12
          // Top Right
          .right-content
            ul.list-main
              li
                i.ti-location-pin
                a(href='#') Cửa hàng
              li
                i.ti-alarm-clock
                | Thời gian làm việc:
                b &nbsp; 08:30 - 22:00
              li
                i.ti-power-off
                if(userLogged && userLogged.id)
                  a(href='/dang-xuat') Đăng xuất
                else
                  a(href='/dang-nhap') Đăng nhập
          // End Top Right
  // End Topbar
  .middle-inner
    .container
      .row
        .col-lg-2.col-md-2.col-12
          // Logo
          .logo
            a(href='/')
              img(src='/template/default/images/logo.png', alt='logo')
          // / End Logo
          // Search Form
          .search-top
            .top-search
              a(href='#0')
                i.ti-search
            // Search Form
            .search-top
              form.search-form
                input(type='text', placeholder='Tìm kiếm', name='search')
                button(value='search', type='submit')
                  i.ti-search
            // / End Search Form
          // / End Search Form
          .mobile-nav
        .col-lg-8.col-md-7.col-12
          .search-bar-top
            .search-bar
              form(action="/san-pham" method="get")
                input(name='s', placeholder='Tìm kiếm', type='search')
                button.btnn
                  i.ti-search
        .col-lg-2.col-md-3.col-12
          .right-bar
            .sinlge-bar
              a.single-icon(href=userLogged ? '/tai-khoan':'/dang-nhap')
                i.ti-user(aria-hidden='true')
            .sinlge-bar.shopping
              a.single-icon(href='/gio-hang')
                i.ti-bag
                if(sessionCart.length)
                  span.total-count #{sessionCart.length}
              .shopping-item
                .dropdown-cart-header
                  span #{sessionCart.length} Sản phẩm
                  a(href='/gio-hang') Giỏ hàng
                ul.shopping-list
                  - var totalPrice = 0
                  each cart,index in sessionCart
                    - totalPrice += (parseInt(cart.quantity) * parseInt(cart.price))
                    li.cart-item
                      a.remove.delete-cart-item(href='#', title='Xóa khỏi giỏ hàng' data-index=index)
                        i.fa.fa-remove
                      a.cart-img(href=`/san-pham/${cart.slug}`)
                        img(src=cart.image ? cart.image:'https://via.placeholder.com/70x70', alt='#')
                      h4
                        a(href=`/san-pham/${cart.slug}`) #{cart.name}
                      if(cart.attributes)
                        .attributes
                          each val, key in cart.attributes
                            p.quantity.m-0.p-0  #{key} : #{val}
                      p.quantity
                        | #{cart.quantity}x -
                        span.amount
                          span.price-format #{cart.price}
                          span.price-currency đ
                .bottom
                  .total
                    span Tổng
                    span.total-amount
                      span.price-format #{totalPrice}
                      span.price-currency đ
                  a.btn.animate(href='/thanh-toan') Thanh toán

  block menu
