a.single-icon(href='#')
	i.ti-bag
	if(sessionCart.length)
		span.total-count #{sessionCart.length}
.shopping-item
	.dropdown-cart-header
		span #{sessionCart.length} Sản phẩm
		a(href='/gio-hang') Giỏ hàng
	ul.shopping-list
		- var totalPrice = 0
		each cart,index in sessionCart
			- totalPrice += (parseInt(cart.quantity) * parseInt(cart.price))
			li
				a.remove.delete-cart-item(href='#', title='Xóa khỏi giỏ hàng' data-index=index)
					i.fa.fa-remove
				a.cart-img(href=`/san-pham/${cart.slug}`)
					img(src=cart.image ? cart.image:'https://via.placeholder.com/70x70', alt='#')
				h4
					a(href=`/san-pham/${cart.slug}`) #{cart.name}
				if(cart.attributes)
					.attributes
						each val, key in cart.attributes
							p.quantity.m-0.p-0  #{key} : #{val}
				p.quantity
					| #{cart.quantity}x -
					span.amount
						span.price-format #{cart.price}
						span.price-currency đ
	.bottom
		.total
			span Tổng
			span.total-amount
				span.price-format #{totalPrice}
				span.price-currency đ
		a.btn.animate(href='/thanh-toan') Thanh toán
