script(src='/template/default/js/jquery.min.js')
script(src='/template/default/js/jquery-migrate-3.0.0.js')
script(src='/template/default/js/jquery-ui.min.js')
//script(src='/template/default/js/slim.min.js')
script(src='/template/default/js/popper.min.js')
script(src='/template/default/js/bootstrap.min.js')
script(src='/template/default/js/colors.js')
script(src='/template/default/js/slicknav.min.js')
script(src='/template/default/js/owl-carousel.js')
script(src='/template/default/slick/slick.min.js')
script(src='/admin/js/jquery.mask.min.js')
script(src='/template/default/js/magnific-popup.js')
script(src='/template/default/js/facnybox.min.js')
script(src='/template/default/js/waypoints.min.js')
script(src='/template/default/js/finalcountdown.min.js')
script(src='/template/default/js/nicesellect.js')
script(src='/template/default/js/ytplayer.min.js')
script(src='/template/default/js/flex-slider.js')
script(src='/template/default/js/scrollup.js')
script(src='/template/default/js/onepage-nav.min.js')
script(src='/template/default/js/easing.js')
script(src='/template/default/js/active.js')
script(src='/template/default/js/custom.js')

block script