section
  .single-slider
    .item.text-center
        a(href="/san-pham")
            img(src="/images/ms_banner_img1.webp")
    .item.text-center
        a(href="/san-pham")
            img(src="/images/ms_banner_img2.webp")

