extends ../_layout/default

block content
    if error
        .alert.alert-danger(role='alert') #{error}
    if success_message
        .alert.alert-success(role='alert') #{success_message}
    .animated.fadeIn
        form(action='',method='post',autocomplete="off")
            .card
                .card-header
                    h4.d-inline-block
                        i.fa.fa-edit
                        |  #{title}
                    .card-header-actions
                        a.card-header-action.d-inline-block.align-top.ml-3(href='/admin/blogs')
                            button.btn.btn-dark.btn-sm(type='button')
                                i.fa.fa-long-arrow-left.mr-2
                                | Quay lại
                        button.btn.btn-primary.btn-sm(type='submit')
                            i.fa.fa-save.mr-2
                            | Lưu lại
                .card-body
                    .row
                        if id
                            + detailForm(item)
                        else
                            + detailForm(bodyParams)

mixin detailForm(item)
    .col-sm-9
        .form-group
            label(for='name') Tiêu đề bài viết
            input#name.form-control(name='title', type='text', placeholder='Tiêu đề bài viết',value=item ? item.title : '',required='')
        .form-group
            label(for='slug') Đường dẫn
            input#slug.form-control(name='slug', type='text', placeholder='Đường dẫn',value=item ? item.slug : null,required='')
        .form-group
            label(for='content') Nội dung bài viết
            textarea#content.advanced-editor.form-control(name='content', type='text', placeholder='Nội dung bài viết')=item ? item.content : ''
    .col-sm-3.sidebar-content-admin
        .form-group
            label(for='status') Trạng thái
            select#status.form-control(name='status',value=item ? item.status : '')
                option(selected= item.status == 'Publish') Publish
                option(selected= item.status == 'Unpublished') Unpublished
        .form-group
            label(for='description') Mô tả ngắn
            textarea#description.form-control(name='description', type='text', placeholder='Mô tả ngắn')=item ? item.description : ''
        .form-group
            label(for='postImage') Hình ảnh
            + mediaButton("image",item.image)
block script
    script(src="/admin/js/customs/slug.js")