extends ../_layout/default


block content
    if error
        .alert.alert-danger(role='alert') #{error}
    if success_message
        .alert.alert-success(role='alert') #{success_message}
    .animated.fadeIn.product-detail
        form(action='',method='post',autocomplete="off")
            .card
                .card-header
                    h4.d-inline-block
                        i.fa.fa-edit
                        |  #{title}
                    .card-header-actions
                        a.card-header-action.d-inline-block.align-top.ml-3(href='/admin/products')
                            button.btn.btn-dark.btn-sm(type='button')
                                i.fa.fa-long-arrow-left.mr-2
                                | Quay lại
                        button.btn.btn-primary.btn-sm(type='submit')
                            i.fa.fa-save.mr-2
                            | Lưu lại
                .card-body
                    .row
                        if id
                            +detailForm(item)
                        else
                            +detailForm(bodyParams)

mixin detailForm(item)
    .col-sm-9
        .form-group
            label(for='name') Tên sản phẩm
            input#name.form-control(name='name', type='text', placeholder='Tên sản phẩm',value=item ? item.name : '',required='')
        .form-group
            label(for='slug') Đường dẫn
            input#slug.form-control.new-slug(name='slug', type='text', placeholder='Đường dẫn',value=item ? item.slug : null,required='')
        .form-group
            label(for='description') Mô tả sản phẩm
            textarea#description.advanced-editor.form-control(name='description', type='text', placeholder='Mô tả sản phẩm')=item ? item.description : ''
        .card
            .card-header  Thuộc tính
            .card-body
                .add-attribute
                    .form-group.row
                        .col-md-4
                            .input-group
                                select#select-attribute.form-control(name='select-attribute')
                                    option(value="") Chọn thuộc tính
                                    each product_attribute in product_attributes
                                        option(value=product_attribute.id disabled=disable_attribute_ids.includes(product_attribute.id)) #{product_attribute.name}
                                span.input-group-append
                                    button.btn.btn-primary#add-product-attribute(type='button') Thêm
                .list-attribute
                    if item.attributes
                        each product_attribute in item.attributes
                            .item
                                .delete-product-attribute(data-id=product_attribute.attribute_id)
                                    button.icon-trash
                                .form-group.row
                                    input(type='hidden', value=product_attribute.attribute_id name=`attributes[${product_attribute.attribute_id}][attribute_id]`)
                                    input(type='hidden', value=product_attribute.id name=`attributes[${product_attribute.attribute_id}][id]`)
                                    label.col-md-2.col-form-label #{product_attribute.attribute.name}
                                    .col-md-10.col-form-label
                                        each attribute_item in product_attribute.items
                                            .form-check.form-check-inline.mr-3
                                                input.form-check-input(type='checkbox', checked=product_attribute.attribute_item_ids &&product_attribute.attribute_item_ids.includes(attribute_item.id) value=attribute_item.id id=`attribute_item-${product_attribute.id}-${attribute_item.id}` name=`attributes[${product_attribute.attribute_id}][values][]`)
                                                label.form-check-label(for=`attribute_item-${product_attribute.id}-${attribute_item.id}`) #{attribute_item.name}



    .col-sm-3.sidebar-content-admin
        .form-group
            label(for='status') Trạng thái
            select#status.form-control(name='status',value=item ? item.status : '')
                option(value="Publish",selected=item && item.status == 'Publish') Publish
                option(value="Unpublished",selected=item && item.status == 'Unpublished') Unpublished
        .form-group
            label(for='sku') Mã sản phẩm
            input#sku.form-control(name='sku', type='text', placeholder='Mã sản phẩm',value=item ? item.sku : '')
        .form-group
            label(for='stock') Số lượng hiện có
            input#stock.form-control(name='stock', type='text', placeholder='Số lượng hiện có',value=item ? item.stock : '' data-mask="######")
        .form-group
            label(for='price') Giá gốc sản phẩm
            input#price.form-control.money(name='price', type='text', placeholder='Giá gốc sản phẩm', value=item ? item.price : '')
        .form-group
            label(for='sale_price') Giá bán sản phẩm
            input#sale_price.form-control.money(name='sale_price', type='text', placeholder='Giá bán sản phẩm',value=item ? item.sale_price : '')
        .form-group
            label(for='category') Danh mục
            .admin-list-category
                each category in categories
                    .form-check.checkbox
                        input.form-check-input(type='checkbox', value=category.id,name="category_ids[]",id=`check_${category.id}`, checked=category_ids&&category_ids.includes(category.id))
                        label.form-check-label(for=`check_${category.id}`) #{category.name}
        .form-group
            label(for='label') Phân loại
            select#label.form-control(name='label',value=item ? item.label : '')
                option(value="") --- Chọn phân loại ---
                option(selected= item && item.label == 'HOT') HOT
                option(selected= item && item.label == 'NEW') NEW
                option(selected= item && item.label == 'SALE') SALE
        .form-group
            label(for='postImage') Hình ảnh
            + mediaButton("image",item ? item.image : null)
        .form-group
            label(for='postImage') Hình ảnh khác
            + mediaButtonMulti("gallery",item && item.gallery ? item.gallery : [])

block script
    script(src="/admin/js/customs/slug.js")
    each attribute in product_attributes
        script(type="text/html" id=`attribute_template_${attribute.id}`)
            .item
                .delete-product-attribute(data-id=attribute.id)
                    button.icon-trash
                .form-group.row
                    input(type='hidden', value=attribute.id name=`attributes[${attribute.id}][attribute_id]`)
                    label.col-md-2.col-form-label #{attribute.name}
                    .col-md-10.col-form-label
                        each attribute_item in attribute.items
                            .form-check.form-check-inline.mr-3
                                input.form-check-input(type='checkbox', value=attribute_item.id id=`attribute_item-${attribute.id}-${attribute_item.id}` name=`attributes[${attribute.id}][values][]`)
                                label.form-check-label(for=`attribute_item-${attribute.id}-${attribute_item.id}`) #{attribute_item.name}