extends ../_layout/default
block script

block content
    if error
        .alert.alert-danger(role='alert') #{error}
    .animated.fadeIn
        form(action="/admin/products/delete", method="GET")
            .card
                .card-header
                    h4.d-inline-block
                        i.fa.fa-edit
                        |  Danh sách sản phẩm
                    a.card-header-action.d-inline-block.align-top.ml-3(href='/admin/products/0')
                        button.btn.btn-block.btn-primary.btn-sm(type='button') Tạo mới
                    .card-header-actions
                        button.btn.d-none.btn-danger.btn-sm.btn-delete-record-in-table.mr-2(type='submit')
                            i.icons.cui-magnifying-glass.mr-1
                            | Xóa
                        button.btn.d-inline-block.btn-primary.btn-sm(type='button', data-toggle="modal", data-target="#filterTable")
                            i.icons.cui-magnifying-glass.mr-1
                            | Tìm kiếm
                .card-body
                    table.table.table-striped.table-bordered.table-responsive-sm
                        thead
                            tr
                                th.first-column-table
                                    .form-check.checkbox
                                        input#checkallTable.form-check-input(type='checkbox', value="")
                                        label.form-check-label(for='checkallTable')
                                th Tên sản phẩm
                                th Mã sản phẩm
                                th Giá sản phẩm
                                th Số lượng
                                th Trạng thái
                                th.last-column-table Hành động

                        tbody
                            each item in items
                                tr
                                    td
                                        .form-check.checkbox
                                            input.checkallTable.form-check-input(type='checkbox', value=item.id, name="ids[]")
                                            label.form-check-label(for='checkall')
                                    td #{item.name}
                                    td #{item.slug}
                                    td #{item.price}
                                    td #{item.stock}
                                    td #{item.status}
                                    td
                                        a.btn.btn-info(href=`/admin/products/${item.id}`)
                                            i.fa.fa-edit
                                        a.btn.btn-danger(href=`/admin/products/delete?id=${item.id}`)
                                            i.fa.fa-trash-o
                    if pages > 1
                        ul.pagination
                            - var page = 0
                            - var current_page = parseFloat(queryInUrl.page) || 1
                            li.page-item(class=current_page==1 ? "disabled":null)
                                a.page-link(href=pageLinks[current_page - 2]) Prev
                            while page < pages
                                - var index = page
                                - page++
                                li.page-item(class=current_page == page || (!current_page && !page) ? "active":null)
                                    a.page-link(href=pageLinks[index]) #{page}
                            li.page-item(class=current_page==pages ? "disabled":null)
                                a.page-link(href=pageLinks[current_page]) Next
block modals
    #filterTable.modal.fade(tabindex='-1', role='dialog', aria-hidden='true')
        .modal-dialog(role='document')
            .modal-content
                form.form-horizontal(method="get",action="")
                    .modal-header
                        h4.modal-title Tìm kiếm
                        button.close(type='button', data-dismiss='modal', aria-label='Close')
                            span(aria-hidden='true') &times;
                    .modal-body
                        .form-group.row
                            label.col-md-3.col-form-label(for='ftitle') Tên sản phẩm
                            .col-md-9
                                input#ftitle.form-control(type='text', name='name', placeholder='', value=queryInUrl ? queryInUrl.name:null)
                        .form-group.row
                            label.col-md-3.col-form-label(for='fsku') Mã sản phẩm
                            .col-md-9
                                input#fsku.form-control(type='text', name='sku', placeholder='', value=queryInUrl ? queryInUrl.sku:null)
                        .form-group.row
                            label.col-md-3.col-form-label(for='status') Trạng thái
                            .col-md-9
                                select#status.form-control(name='status')
                                    option(value="") Chọn trạng thái
                                    option(value="Publish",selected=queryInUrl && queryInUrl.status == 'Publish') Publish
                                    option(value="Unpublished",selected=queryInUrl && queryInUrl.status == 'Unpublished') Unpublished
                    .modal-footer
                        button.btn.btn-secondary(type='button', data-dismiss='modal') Hủy
                        button.btn.btn-primary(type='submit') Tìm kiếm

